<section class="sidebar-element">
    <p class="lead">Der Jeep auf Tour</p>
    <p>Werde jetzt ein Facebook-Fan und bleibe über neue Veranstaltungen auf dem Laufenden!</p>
    <div class="cta-secondary">
        <a href="{{ social_facebook }}" title="Folge dem Jeep auf Facebook"><i class="bi bi-facebook"></i>&nbsp;Facebook</a>
    </div>
</section>
