<section class="sidebar-element">
    <p class="lead">Der Jeep im Bilde</p>
    <p>Folge mir jetzt auf Instagram und lerne den Jeep von seiner schönsten Seite kennen!</p>
    <div class="cta-secondary">
        <a href="{{ social_instagram }}" title="Folge dem Jeep auf Instagram"><i class="bi bi-instagram"></i>&nbsp;Instagram</a>
    </div>
</section>
