<section class="sidebar-element">
    <div class="leasing">
        <h3 class="h5">Den Jeep erleben</h3>
        <p>Ob private Rundfahrt, Hochzeit oder Business: Erlebe das „Jurassic Park“-Feeling exklusiv!</p>
        <div class="call-to-action">
            <a href="{{ path('leasing') }}">Jetzt mieten</a>
        </div>
        <div class="divider"></div>
    </div>
</section>
