<section class="sidebar-element">
    <div class="leasing">
        <p class="lead">Den Jeep erleben</p>
        <p>Ob private Rundfahrt, Hochzeit oder Business-Event: Erlebe das „Jurassic Park“-Feeling exklusiv und tue dabei gutes!</p>
        <div class="call-to-action">
            <a href="{{ path('leasing') }}">Mehr erfahren</a>
        </div>
        <div class="divider"></div>
    </div>
</section>
