<section class="sidebar-element">
    <p class="lead">Den Jeep erleben</p>
    <p>Von Isla Nublar direkt mit dir auf Tour. Jetzt buchen für Rundfahrten, Hochzeiten und Events aller Art.</p>
    <div class="cta-primary">
        <a href="{{ path('leasing') }}"><i class="bi bi-info-circle-fill"></i> Jetzt mieten</a>
    </div>
</section>
