<section class="sidebar-element">
    <p class="lead">Unter Freunden</p>
    <p>Ich bin stolzes Mitglied der German Division des Jurassic Park Motor Pool.</p>
    <div class="badges">
        <div class="badge">
            <a href="https://www.jpmotorpool.de" alt="Badge der German Division des Jurassic Park Motor Pool" title="Besuche die Website der German Division des Jurassic Park Motor Pool…"><img src="/images/jpmp-germany-badge.png" alt="Badge der German Division des Jurassic Park Motor Pool"></a>
        </div>
        <div class="badge">
            <a href="https://www.jpmotorpool.com" alt="Badge des Jurassic Park Motor Pool“ title="Besuche die amerikanische Website des Jurassic Park Motor Pool"><img src="/images/jpmp-badge.png" alt="Badge des Jurassic Park Motor Pool"></a>
        </div>
    </div>
</section>
