<section class="sidebar-element">
    <p>Ich bin stolzes Mitglied des Jurassic Park Motor Pool.</p>
    <div class="badges">
        <div class="badge">
            <a href="https://www.jpmotorpool.com" title="Besuche die Website des Jurassic Park Motor Pools, mit fast 500 Mitgliedern weltweit…"><img src="images/jpmp-badge.png"></a>
        </div>
        <div class="badge"><img src="images/jpmp-germany-badge.png"></div>
    </div>
</section>
