<section class="sidebar-element">
    <p class="lead">Treffe den Jeep</p>
    <p>17. und 18. Juni<br/><strong>Jurassic Days 6.0 im Dinosaurier-Park Münchehagen</strong></p>
    <p>Wir sind auch mit unserem Jeep vor Ort, wenn Mitte Juni die Jurassic Days 6.0 ausgerufen werden.</p>
    <div class="cta cta-secondary">
        <a href="{{ path('events') }}" title="Öffne die Übersicht mit allen anstehenden Events"><i class="bi bi-calendar"></i>&nbsp;Alle Events</a>
    </div>
</section>
