<section class="sidebar-element">
    <div class="next-event">
        <p class="heading">Treffe den Jeep</p>
        <div class="event">
            <p><span class="date">24. bis 25. September</span></p>
            <p class="title">Science-Fiction-Treffen im Technik-Museum Speyer</p>
            <p class="description">Das Technik Museum lädt ein, der Jeep kommt – wie im letzen Jahr sind wir beim Science-Fiction-Treffen (und Cosplay-Wochenende) in Speyer am Start.</p>
        </div>
        <div class="cta cta-primary">
            <a href="{{ path('events') }}" title="Öffne die Übersicht mit allen anstehenden Events"><i class="bi bi-calendar"></i>&nbsp;Alle Events</a>
        </div>
    </div>
</section>
