<section class="sidebar-element">
    <p class="lead">Treffe den Jeep</p>
    <p>23. bis 24. September 2023<br/><strong>Science-Fiction-Treffen im Technik-Museum Speyer</strong></p>
    <p>Das Technik Museum lädt ein, der Jeep kommt – rechtzeitig zum 30. Geburtstag von „Jurassic Park“ sind wir <a href="https://speyer.technik-museum.de/de/science-fiction-treffen" target="_blank">beim Science-Fiction-Treffen in Speyer</a> am Start.</p>
</section>
