<section class="sidebar-element">
    <div class="next-event">
        <p class="heading">Treffe den Jeep</p>
        <div class="event">
            <p><span class="date"><strike>24. bis 25. September</strike></span></p>
            <p class="title"><strike>Science-Fiction-Treffen im Technik-Museum Speyer</strike></p>
            <p class="description"><strike>Das Technik Museum lädt ein, der Jeep kommt – wie im letzen Jahr sind wir beim Science-Fiction-Treffen (und Cosplay-Wochenende) in Speyer am Start.</strike></p>
            <p class="description"><strong>Achtung: Gesundheitsbedingt sind der Jeep und ich dieses Jahr leider nicht im Technik Museum Speyer am Start!</strong>
            <p class="description">Nächstes Jahr, zum 30. Geburtstag von „Jurassic Park“, werden wir beide aber planmäßig wieder am Start sein.</p>
        </div>
    </div>
</section>
