<section class="sidebar-element">
    <div id="next-event">
        <p class="heading">Treffe den Jeep</p>
        <div class="event">
            <p><span class="date">16. Juli</span></p>
            <p class="title">Mitglieder-Treffen des Project-K.I.T.T. e.V.</p>
            <p class="description">
                Erlebe den Jeep – umgeben von K.I.T.T.-Replicas aus „Knight Rider“ – bei den Karl-May-Festspielen in Elspe.
            </p>
        </div>
        <div class="cta-secondary">
            <a href="{{ path('events') }}" title="Öffne die Übersicht mit allen anstehenden Events"><i class="bi bi-calendar"></i>&nbsp;Alle Events</a>
        </div>
    </div>
</section>
