<section class="sidebar-element">
    <p class="lead">Treffe den Jeep</p>
    <p>23. und 24. September<br/><strong>Science-Fiction-Treffen im Technik Museum Speyer</strong></p>
    <div class="cta cta-secondary">
        <a href="{{ path('events') }}" title="Öffne die Übersicht mit allen anstehenden Events"><i class="bi bi-calendar"></i>&nbsp;Alle Events</a>
    </div>
</section>
