<section class="sidebar-element">
    <div id="next-event">
        <p class="heading">Treffe den Jeep</p>
        <div class="event">
            <p><span class="date">11. bis 12. Juni</span></p>
            <p class="title">Kinostart von „Jurassic World: Ein neues Zeitalter“</p>
            <p class="description">
                Am Startwochenende des neuen „Jurassic World“ steht der Jeep vor dem KINOPOLIS Bad Godesberg als Fotomotiv zur Verfügung.
            </p>
        </div>
        <div class="cta-secondary">
            <a href="{{ path('events') }}" title="Öffne die Übersicht mit allen anstehenden Events"><i class="bi bi-calendar"></i>&nbsp;Alle Events</a>
        </div>
    </div>
</section>
