<section class="sidebar-element">
    <p class="lead">Folge dem Jeep</p>
    <p>Folge mir auf meinen Social-Media-Kanälen und du bleibst über neue Bilder, coole Events und aktuelle Arbeiten bestens informiert.</p>
    <div class="cta cta-secondary">
        <a href="{{ social_facebook }}" title="Folge dem Jeep auf Facebook"><i class="bi bi-facebook"></i>&nbsp;Facebook</a>
    </div>
    <div class="cta cta-secondary">
        <a href="{{ social_instagram }}" title="Folge dem Jeep auf Instagram"><i class="bi bi-instagram"></i>&nbsp;Instagram</a>
    </div>
    <div class="cta cta-secondary">
        <a href="{{ social_youtube }}" title="Folge dem Jeep auf YouTube"><i class="bi bi-youtube"></i>&nbsp;YouTube</a>
    </div>
</section>
