<section class="sidebar-element">
    <p class="lead">Dem Jeep folgen</p>
    <p>Folge mir auf den offiziellen Social-Media-Kanälen, um stets auf dem Laufenden zu bleiben.</p>
    <div class="cta-secondary">
        <a href="{{ social_facebook }}" title="Folge dem Jeep auf Facebook"><i class="bi bi-facebook"></i>&nbsp;Facebook</a>
    </div>
    <div class="cta-secondary">
        <a href="{{ social_instagram }}" title="Folge dem Jeep auf Instagram"><i class="bi bi-instagram"></i>&nbsp;Instagram</a>
    </div>
    <div class="cta-secondary">
        <a href="{{ social_youtube }}" title="Folge dem Jeep auf YouTube"><i class="bi bi-youtube"></i>&nbsp;YouTube</a>
    </div>
</section>
