<section class="sidebar-element">
    <p class="lead">Dem Jeep folgen</p>
    <p>Folge mir auf den offiziellen Social-Media-Kanälen, um stets auf dem Laufenden zu bleiben.</p>
    <div class="social-links">
        <ul class="list-unstyled">
            <li><a href="{{ social_facebook }}" title="Folge dem „Jurassic Jeep“ auf Facebook"><i class="bi-facebook"></i>&nbsp;Facebook</a></li>
            <li><a href="{{ social_instagram }}" title="Folge dem „Jurassic Jeep“ auf Instagram"><i class="bi-instagram"></i>&nbsp;Instagram</a></li>
            <li><a href="{{ social_youtube }}" title="Folge dem „Jurassic Jeep“ auf YouTube"><i class="bi-youtube"></i>&nbsp;YouTube</a></li>
        </ul>
    </div>
</section>
