<section class="sidebar-element">
    <div class="social">
        <h3 class="h5">Jurassic Jeep folgen</h3>
        <ul class="list-unstyled">
            <li class="https://www.youtube.com/channel/UCDJXUi8NY3lgLxh1_fcDNog"><i class="bi-youtube"></i>&nbsp;YouTube</li>
            <li class="https://www.instagram.com/jpjeep16/"><i class="bi-instagram"></i>&nbsp;Instagram</li>
            <li class="https://www.facebook.com/jurassicjeep.de"><i class="bi-facebook"></i>&nbsp;Facebook</li>
        </ul>
    </div>
</section>
