<section class="sidebar-element">
    <div class="social">
        <p class="lead">Schon gewusst?</p>
        <ul class="list-unstyled">
            <p>Datenschutz liegt mir am Herzen: Es geht hier um den Jeep, nicht um deine persönlichen Daten.</p>
            <p>Daher: Hier gibt es keine Cookies, kein Tracking, keine Social-Media-Plugins (nur einfache Links auf die Kanäle).</p>
        </ul>
    </div>
</section>
