<section class="sidebar-element">
    <p class="lead">Der Jeep im Video</p>
    <p>Abonniere jetzt meinen YouTube-Kanal und verpasse keines meiner Videos mehr.</p>
    <div class="cta-secondary">
        <a href="{{ youtube_last_video }}" title="Folge dem Jeep auf YouTube"><i class="bi bi-play-btn-fill"></i> Jetzt anschauen</a>
    </div>
</section>
