<section class="sidebar-element">
    <p class="lead">Der Jeep im Video</p>
    <p>Abonniere jetzt den YouTube-Kanal des „Jurassic Jeep“ und verpasse kein einziges Video.</p>
    <div class="cta-primary">
        <a href="{{ youtube_last_video }}">Letztes Video</a>
    </div>
    <div class="cta-secondary">
        <a href="{{ social_youtube }}" title="Folge dem „Jurassic Jeep“ auf YouTube">YouTube-Kanal</a>
    </div>
</section>
