<section class="sidebar-element">
    <p class="lead">Der Jeep im Video</p>
    <p>Abonniere jetzt meinen YouTube-Kanal und ich nehme dich mit hinter die Kulissen.</p>
    <div class="cta-secondary">
        <a href="{{ social_youtube }}" title="Folge dem Jeep auf YouTube"><i class="bi bi-youtube"></i>&nbsp;YouTube</a>
    </div>
</section>
