<section class="sidebar-element">
    <p class="lead">Der Jeep im Video</p>
    <p>Abonniere jetzt unseren YouTube-Kanal und verpasse keines unserer Videos mehr.</p>
    <div class="cta-secondary">
        <a href="{{ youtube_last_video }}" title="Folge dem Jeep auf YouTube"><i class="bi bi-collection-play-fill"></i> Zum aktuellen Video</a>
    </div>
</section>
