<section class="sidebar-element">
    <p class="lead">Der Jeep im Video</p>
    <p>Abonniere jetzt den YouTube-Kanal des „Jurassic Jeep“ und verpasse kein einziges Video.</p>
    <div class="cta-secondary">
        <a href="{{ youtube_last_video }}" title="Folge dem „Jurassic Jeep“ auf YouTube"><i class="bi bi-collection-play-fill"></i> Zum letzten Video</a>
    </div>
</section>
