{% extends 'base.html.twig' %}

{% set title            = 'Mein Basisfahrzeug: Ein 1993er Jeep Wrangler Sahara' %}
{% set description      = 'Als Basis für meinen Nachbau wurde genau das Modell verwendet, das auch beim Dreh von „Jurassic Park“ zum Einsatz kam: Ein 1993er Jeep Wrangler Sahara.' %}
{% set activeNavElement = 'baseVehicle' %}

{% block article %}
    <article>
        <h1>
            Mein Basisfahrzeug
            <div class="divider"></div>
        </h1>
        <blockquote class="blockquote">
            <p>„1992er Jeep Wrangler Sahara, sandbeige.“</p>
        </blockquote>
        <p>Mit diesen Worten stellt Gray seinem Bruder Zach das Fahrzeug vor, das beide bei Ihrem Ausflug in die „Jurassic World“ im alten Besucherzentrum des „Jurassic Park“ finden. Und so <em>könnte</em> ich dir auch meinen Jeep vorstellen; denn der Unterschied ist marginal: Es ist ein 199<u>3</u>er Jeep Wrangler Sahara, sandbeige.</p>
        {% include 'partials/card.html.twig' with { 'alignment': 'left', 'url': 'https://picsum.photos/640/480', 'alt': '(Mattiertes) „Jurassic Park“-Logo auf den Seitentüren des Jeep Wranger Sahara', 'caption': 'Mit dem Logo alleine ist es leider nicht getan: Für einen authentischen Nachbau ist das richtige Basifahrzeug hilfreich.' } %}
        <p>Wie würde John Hammond sagen? Für die Verwandlung meines Jeep Wranger Sahara in den „Gas Jeep“ des „Jurassic Park“ wurden keine Kosten gescheut.</p>
        <p>Es wurde genau das Modell verwendet, dass auch der Filmcrew bei den Dreharbeiten im Jahre 1992 zur Verfügung stand; das macht mein Fahrzeug in Deutschland relativ einzigartig.</p>
        <p>So lässt sich zwar pontentiell jeder Jeep Wrangler YJ der Modelljahre 1987 bis 1995 in das markante Arbeitstier des ehemaligen Urzeit-Zoos umbauen, doch nur mit einem entsprechend großen Aufwand.</p>
        <p>Die „Sahara“-Modell zeichnet sich z.B. dadurch aus, dass spezielle Sitzbezüge und Farben für die Innenraumteile verwendet wurden. So gab es z.B. erst ab Modelljahre 1992 die für den Film authentischen Sitze. Zusammengefasst: Ideale Basisfahrzeuge sind die Jeep Wrangler Sahara der Modelljahre 1992 bis 1994.</p>
        <h2 class="h4">Wie mein Jeep mich fand</h2>
        <p>Direkt vorab: Ich habe meinen Jeep nicht selber gebaut. Seit über zehn Jahren war ich mehr oder weniger intensiv auf der Suche nach einem passenden Basifahrzeug, um nach meinem aktuellen Projekt – ich restauriere einen <a href="https://www.myknight.de" title="Besuche mein anderes Projekt, die Restauration meines 1982er Pontiac Firebird Trans Am">1982er Pontiac Firebird Trans Am</a> – direkt mit einem „Jurassic Park“-Jeep loslegen zu können.</p>
        <p>Leider ist der deutsche und europäische Markt überschaubar und ein „Sahara“ in gutem Zustand in Deutschland fast nicht zu bekommen – und wenn, dann nur zu exorbitant hohen Preisen. Dennoch hatte ich großes Glück, denn eine Suchanzeige auf eBay-Kleinanzeigen brachte im April 2021 durch Zufall Jörg auf den Plan, der mir seinen geliebten Jeep Wrangler Sahara zum Kauf anbot.</p>
        <p>Jörg hat bei dem Umbau hervorragende Arbeit geleistet; so war nach der Besichtigung vor Ort sehr schnell klar, dass kein Weg um das Fahrzeug herum führt. So habe ich zugeschlagen und mein Auto im Mai 2021 abgeholt, seit dem halte ich den „Jurassic Jeep“ in Ehren.</p>
        <p>Auch wenn mein Jeep Wrangler Sahara bereits vollständig umgebaut wurde: Ein Jeep ist nie fertig. Ich freue mich daher auf die nächsten Jahre und Monate und werde dem Jeep die Aufmerksamkeit zukommen lassen, die er verdient.</p>
        <h2 class="h4">Die Ausstatung eines Jeep Wrangler Sahara</h2>
        <p>Auf die Sonderausstattung eines Jeeps aus „Jurassic Park“ gehe ich im Bereich „Sonderausstattung“ ein. Beleuchten möchte ich jedoch die serienmäßigen Merkmale, die das „Sahara“-Modell des Jeep Wrangler auszeichen:</p>
        <h3 class="h5">Sitze</h3>
        <p>Nicht nur Ellie Sattler stand darauf: Die grünen Sitze mit den beige/braunen Applikationen. Diese sind elementarer Bestandteil einer authentischen Nachbildung und eines dieser Teile, die bei Verwendung eines Nicht-Sahara als Basisfahrzeug nur schwer zu bekommen sind. Die Sitze wurden von 1992 bis 1995 in dieser Farbe verbaut und werden heute nicht mehr angeboten. Der Preis für Gebrauchtteile, die fast ausschließlich in den USA ab und an auftauchen, ist hoch.</p>
        <p>Ich hatte das große Glück, dass die Sitze meines Jeep in hervorragendem Zustand sind, sowohl die Vordersitze, als auch die Rückbank. Meine Sitze wurden nur gereinigt und nicht aufgepolstert, etc. – und sind nach fast 30 Jahren in einem neuwertigen Zustand.</p>
        <h3 class="h5">Teppiche</h3>
        <p>Das zweite Ausstattungsmerkmal, das heutzutage kaum noch auf dem Gebrauchtmarkt zu bekommen ist, sind die Teppiche im Innenraum. Diese sind nicht geklebt, sondern nur locker verlegt – was den Austausch oder die Erneuerung einfach macht – und genau das ist bei vielen Fahrzeugen im Laufe der letzten 30 Jahre passiert.</p>
        <p>Wie auch die Sitze, sind auch die Teppiche meines Jeep in einem hervorragenden Zustand mit nur kleinen Gebrauchsspuren. Die „Aufarbeitung“ der Teppiche beschränkte sich auf eine umfassende Reinigung und Trocknung, danach konnten die Teppich wieder im Fahrzeug verbaut werden.</p>
        <h3 class="h5">Farbe</h3>
        <p>Das „sandbeige“ ist eine der Originalfarben des „Sahara“-Modells von 1992 bis 1994. Im Jahre 1992 war „sandbeige“ eine von nur zwei wählbaren Farben, die andere war „Sage Green“ (Originalbezeichnung). Damit ergibt sich in der Theorie eine Chance von 50 %, die korrekte Farbe zu finden. In der Praxis wird es komplizierter: Erstens kam in den späteren Modelljahren noch eine dritte Farbe, „Hunter Green“ (Originalbezeichnung) dazu, zweitens sind die Lacke nach fast 30 Jahren fast ausnahmslos defekt.</p>
        <p>Mein Fahrzeug wurde ursprünglich in „Hunter Green“ ausgeliefert. Im Jahre 2019 wurde die Lackierung professionell erneuert und heute „erstrahlt“ der Jeep Wrangler Sahara in einem matten (!) sandbeige mit den begannten roten Applikationen.</p>
        <h3 class="h5">Nebelscheinwerfer</h3>
        <p>Markant und nützlich zugleich: Der Jeep Wrangler Sahara wurde mit zwei großen Nebelscheinwerfern ausgeliefert, die sich weit außen an der vorderen Stoßstange befinden. Bei schlechter Sicht unterstützen diese die in die Jahre gekommenen H4-Scheinwerfer doch beachtlich.</p>
        <h3 class="h5">Softtop mit Halbtüren</h3>
        <p>Das „Sahara“-Modell wurde ausschließlich mit Softtop und Halbtüren aus Stahl ausgeliefert. Frischluftfanatiker kommen in kaum einem anderen Fahrzeug so sehr auf ihre Kosten wie in einem Jeep Wrangler: Beide Türen lassen sich entfernen und es darf, sofern Aussenspiegel montiert werden, auch auf öffentlichen Straßen ohne Türen gefahren werden. Das Softtop lässt sich komplett vom Fahrzeug abnehmen und die Windschutzscheibe lässt sich nach vorne klappen (dies ist im Gegensatz zu den Türen aber nicht mit der Straßenverkehrsordnung zu vereinbaren).</p>
        <p>Im Film kommen beide Varianten vor. Währen die meisten Fahrzeuge im Film kein Softtop montiert haben, finden Dennis Nedry mit der #12 mit montiertem Softtop, Halbtüren und Steckfenstern sein Schicksal…</p>
        <h3 class="h5">Felgen</h3>
        <p>Die Felgen sind das einzige Ausstattungsmerkmal eines „Sahara“-Modells, dass es nicht in den Film geschafft hat. Statt der originalen Felgen wurden die „gewöhnlicheren“ Felgen eines „Laredo“-Modells verwendet. Generell sind die Felgen heute noch recht gut zu bekommen, die Preise steigen jedoch auch für diese Teile stetig an.</p>
        <p>Die Felgen meines Jeep Wrangler Sahara wurden chemisch entlackt, aufarbeitet und anschließend – im Rahmen der Lackierung – professionell im korrekten Farbton lackiert.</p>
        <h3 class="h5">Armaturenbrett, Mittelkonsole mit Verkleidungen</h3>
        <p>Nur bis 1994 wurde das graue/anthrazitfarbene Armaturenbrett verbaut, in den früheren und späteren Modellen wurden andere Farben verwendet, so waren alle 1995er Jeep Wrangler Sahara mit einem beigefarbenen Armaturenbrett ausgestattet.</p>
        <p>Ähnlich wie beim Armaturenbrett ist auch die Farbe der Mittelkonsole vom Modelljahr abhängig. Nur von 1992 bis 1994 hatten die Jeep Wranger Sahara die abschließbare Mittelkonsole in grün, passend zu den Sitzen. Das gleiche trifft auch für andere Verkleidungsteile zu, z.B. den Verkleidungen unten an den Sitzen.
    </article>
{% endblock %}
