{% extends 'base.html.twig' %}

{% set title            = 'Kontaktmöglichkeiten bei Fragen zum Jeep' %}
{% set description      = 'Das Kontaktformular ermöglicht den direkten Kontakt zum Fahrer des „Jurassic Jeep“, für allgemeine Fragen zum Fahrzeug oder für konkrete Mietanfragen.' %}
{% set activeNavElement = 'contact' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Kontakt</h1>
            <h2>Dein direkter Draht zum Fahrer</h2>
        </div>
        <p>Das Kontaktformular gehört zu den Attraktionen, die erst im Laufe der nächsten Zeit von der InGen Corporation hinzugefügt werden.</p>
        <p>Du erreichst mich bis dahin direkt über meine E-Mail-Adresse: hallo (at) jurassicjeep.de – ich freue mich auf deine Nachricht!</p>
        {% if ff_leasing_available %}
            <p>Sofern du dich für eine Buchung des „Jurassic Jeep“ interessierst, teile mir bitte das gewünschte Paket, das gewünschte Datum und deine Telefonnummer mit. Ich rufe dich sehr gerne zurück!</p>
        {% endif %}
        <p>Alle Anfragen werden vertraulich behandelt und in der Regel binnen 24 Stunden beantwortet.</p>
    </article>
{% endblock %}
