{% extends 'base.html.twig' %}

{% set title            = 'Die Sonderausstattung des Jeep für die Isla Nublar' %}
{% set description      = '' %}
{% set activeNavElement = 'equipment' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Die Lackierung</h1>
            <h2>Sonderausstattung für die Isla Nublar</h2>
        </div>
        <h3>Eine `h3`-Überschrift</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <h4>Eine `h4`-Überschrift</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </article>
{% endblock %}
