{% extends 'base.html.twig' %}

{% set title            = 'Anstehende Events meines „Jurassic Park“-Jeeps' %}
{% set description      = 'Übersicht aller anstehender Events, an denen mein „Jurassic Park“-Jeep teilnimmt. „Meet the Jeep“ – ich freue mich auf deinen Besuch!' %}
{% set activeNavElement = 'events' %}
{% set mood_image_src   = '/images/jurassic-park-jeep-im-technik-museum-speyer.jpg' %}
{% set mood_image_alt   = 'Ein „Jurassic Park“-Jeep, präsentiert beim Cosplay-Wochenende 2021 im Technik Museum Speyer; im Hintergrund befinden sich Turbinen und ein Flugzeug' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Events</h1>
            <h2>Der Jeep vor Publikum</h2>
        </div>
        <p>Schade, aber aktuell bleibt der Jeep im Wartungsbunker, denn es sind keine Events mit dem Jeep geplant.</p>
        <p>Das sollte dich nicht davon abhalten, mich zu kontaktieren, wenn du den Jeep aus der Nähe sehen möchtest. Hast du gesehen, dass <a href="{{ path('leasing') }}"> der Jeep auch vermietet wird?</a></p>
    </article>
{% endblock %}
