{% extends 'base.html.twig' %}

{% set title            = 'Anstehende Events meines „Jurassic Park“-Jeeps' %}
{% set description      = 'Übersicht aller anstehender Events, an denen mein „Jurassic Park“-Jeep teilnimmt. „Meet the Jeep“ – ich freue mich auf deinen Besuch!' %}
{% set activeNavElement = 'events' %}
{% set mood_image_src   = '/images/jurassic-park-jeep-im-technik-museum-speyer.jpg' %}
{% set mood_image_alt   = 'Ein „Jurassic Park“-Jeep, präsentiert beim Cosplay-Wochenende 2021 im Technik Museum Speyer; im Hintergrund befinden sich Turbinen und ein Flugzeug' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Events</h1>
            <h2>Der Jeep vor Publikum</h2>
        </div>
        <table class="table">
            <caption>Sofern nicht anders angegeben, sind alle Events öffentlich (Eintrittspreise können anfallen).</caption>
            <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Veranstaltung</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        17.&nbsp;und&nbsp;18.&nbsp;Juni<br/>
                        Dinosaurier-Park Münchehagen
                    </td>
                    <td>
                        <strong>Jurassic Days 6.0</strong><br/>
                        Bei den Jurassic Days <a href="https://www.dinopark.de" target="_blank">im Dinosaurier-Park Münchehagen</a> erwarten euch mehrere Jeeps, zahlreiche Cosplayer, Szenen aus „Jurassic Park“ und viele weitere Überraschungen.
                    </td>
                </tr>
                <tr>
                    <td>
                        23.&nbsp;und&nbsp;24.&nbsp;September<br/>
                        Technik Museum Speyer
                    </td>
                    <td>
                        <strong>Science-Fiction-Treffen</strong><br/>
                        Das Technik Museum lädt ein, der Jeep folgt dieser Einladung – rechtzeitig zum 30. Geburtstag von „Jurassic Park“ sind wir <a href="https://speyer.technik-museum.de/de/science-fiction-treffen" target="_blank">beim Science-Fiction-Treffen in Speyer</a> am Start.
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
{% endblock %}
