{% extends 'base.html.twig' %}

{% set title            = 'Schöne Bilder meines Jeeps aus „Jurassic Park“' %}
{% set description      = 'Der „Jurassic Jeep“ entspricht aus jedem Winkel dem originalen Jeep, der vor fast 30 Jahren in „Jurassic Park“ auf der Isla Nublar zum Einsatz kam.' %}
{% set activeNavElement = 'gallery' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Bilder meines Jeep</h1>
            <h2>Aus jedem Winkel gut gelungen</h2>
        </div>
        <p>Der <span class="brand">Jurassic Jeep</span> ist erst vor kurzem mit der Fähre aus Isla Nublar gelandet. Leider habe ich es bisher noch nicht geschafft, diesen Bereich der Homepage mit Leben zu füllen.</p>
        <p>Du findest jedoch regelmäßig neue Inhalte auf meinem Instagram-Account <i>@jurassicjeep.de</i> – ich freue mich auf deinen Besuch!</p>
        <p class="cta-button">
            <a href="{{ social_instagram }}" title="Folge dem Jeep auf Instagram"><i class="bi bi-instagram"></i> @jurassicjeep auf Instagram</a>
        </p>
    </article>
{% endblock %}
