{% extends 'base.html.twig' %}

{% set title            = 'Bilder meines „Jurassic Park“-Jeeps' %}
{% set description      = 'Mein „Jurassic Park“-Jeep entspricht aus jedem Winkel dem originalen Jeep, der vor fast 30 Jahren im „Jurassic Park“ auf der Isla Nublar zum Einsatz kam.' %}
{% set activeNavElement = 'gallery' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Bilder meines Jeep</h1>
            <h2>Aus jedem Winkel gut gelungen</h2>
        </div>
        <p>Mein „Jurassic Park“-Jeep ist vor gut einem Jahr mit der Fähre aus Isla Nublar gelandet.</p>
        <p>Schöne Bilder sind bereits einige entstanden, doch diese findest du vorwiegend auf meinem Instagram-Account <i>@jurassicjeep.de</i> – ich freue mich auf deinen Besuch!</p>
        <p class="cta-button">
            <a href="{{ social_instagram }}" title="Folge dem Jeep auf Instagram"><i class="bi bi-instagram"></i> @jurassicjeep auf Instagram</a>
        </p>
    </article>
{% endblock %}
