{% extends 'base.html.twig' %}

{% set title            = 'Die Historie meines Jeep Wrangler Sahara des „Jurassic Park“' %}
{% set description      = 'Eine (fiktive) Geschichte über die Herkunft meines Jeep Wrangler Sahara, der ursprünglich für den „Jurassic Park“ auf der Isla Nublar vorgesehen war.' %}
{% set activeNavElement = 'history' %}

{% block article %}
    <article>
        <h1>
            Die Historie meines Jeep
            <div class="divider"></div>
        </h1>
        <h2 class="h4">Der Niedergang der Isla Nublar</h2>
        <p>Die Historie des ersten „Jurassic Park“ auf der Isla Nublar, 90 Meilen südwestlich von Costa Rica, ist aus Nachrichten und Geschichtsbüchern bekannt. Vor fast 30 Jahren kam es am Wochenende des 11./12. Juni 1993, kurz vor der geplanten Öffnung des Parks, zur größten Katastrophe in der viel zu kurzen Geschichte des revolutionären Urzeit-Zoos.</p>
        <p>Über die Hintergründe des heute als „Isla Nublar Incident“ bezeichneten Vorfalls ist jedoch der Öffentlichkeit nur wenig bekannt. Klar ist nur, dass es zu einem Zusammenbruch der Stromversorgung und einem daraus folgenden Ausbruch der Dinosaurier auf der Insel kam. Es wird jedoch spekuliert, dass Sabotage der maßgebliche Grund für diesen Zwischenfall war. Das tragische Unglück forderte zwei Todesopfer und führte zum schleichenden Niedergang der InGen Corporation und John Hammond, dem Visionär hinter Jurassic Park.</p>
        <p>Bis zur Übernahme durch die Masrani Group im Jahre 1998 wurde es wieder still um Isla Nublar, die Ereignisse auf der Insel gerieten in Vergessenheit. Die Übernahme führte jedoch zur Planung, Konstruktion und Eröffnung der „Jurassic World“. Im ersten Jahr des Betriebs wurden doppelt so viele Eintrittskarten verkauft wie in den drei größten Zoos der Welt zusammen. Der mittlerweile verstorbene John Hammond wäre stolz gewesen zu sehen, das seine Vision Wirklichkeit geworden ist.</p>
        <p>Doch das Schicksal schlug ein zweites Mal zu: Auch die „Jurassic World“ konnte der Natur auf lange Sicht nicht trotzen. Nach dem zweiten Vorfall im Sommer 2015, bei dem dutzende Menschen ums Leben kamen, wurde Isla Nublar und die Parkanlage aufgegeben. Spätestens seit dem Ausbruch des erloschen geglaubten Vulkans Mount Sibo auf der Insel sind alle Spuren des „Jurassic Park“ und der „Jurassic World“ verloren und Isla Nublar nicht nur ein verlassener, sondern ein toter Ort.</p>
        <h2 class="h4">Die Fahrzeuge des Jurassic Park</h2>
        <p>Im Rahmen der Konstruktion des Jurassic Park wurden von der InGen Corporation mindestens fünf Jeep Wrangler Sahara des Modelljahres 1993 bestellt. Im Gegensatz zu den elektrisch auf einem Streckensystem betriebenen Ford Explorer, die als Besucherfahrzeuge dienten, wurden die Jeep Wrangler nur für die interne Nutzung im Park verwendet.</p>
        <p>Besonderes Merkmal der Fahrzeuge war die Lackierung im rot/beigen Farbmuster. Dieses wurde ausgewählt, da insbesondere die Triceratops die Fahrzeuge nicht mehr so deutlich wahrnehmen konnten und aus diesem Grund deutlich seltener angriffen. Zur Kommunikation mit dem Kontrollraum des Parks dient ein gewöhnliches CB-Funkgerät.</p>
        <p>Im Gegensatz zur weitläufigen Meinung waren die Nummern auf den Fahrzeugen nicht durchnummeriert. Heute sind zwei Ford Explorer (04, 05) und fünf Jeep Wrangler (10, 12, 16, 18, 29) bekannt, von denen die meisten beim Ausbruch des Mount Sibo zerstört wurden.</p>
        <h2 class="h4">Über meinen Jeep</h2>
        <p>Mein Fahrzeug mit der Nummer 16 wurde nach Ausrüstung und Lackierung im Mai 1993 nach Isla Nublar verschifft und war für den persönlichen Gebrauch durch den PR-Chefes des Parks, Ed Regis, reserviert. Zum Zeitpunkt des Zwischenfalls befand sich Ed Regis nicht auf der Insel und das Fahrzeug in einer überdachten Parkanlage an den Docks des Parks.</p>
        <p>Das Fahrzeug wurde im Zuge der Aufräumarbeiten sichergestellt und zum Festland verschifft. Die angespannte finanzielle Lage der InGen Corporation machte es erforderlich, alle Firmengüter mit einem gewissen Restwert zu veräußern. Warum dieses Schicksal den Fahrzeugen #18 und #29 verwehrt blieb, die sich in der Tiefgarage des Besucherzentrums des Parks befanden, ist nicht bekannt.</p>
        <p>Über diverse Quellen gelang der Jeep Wrangler, von seiner Lackierung und den Aufbauten befreit, in den regulären Verkauf. Glücklicherweise blieb dem Fahrzeug aber eine zu grobe Nutzung im Gelände erspart, woraus der gute Allgemeinzustand am heutigen Tage resultiert. Im Dezember 2018 wurde das Fahrzeug dann an einen Fan des „Jurassic Park verkauft, der, drei Jahre nach dem Niedergang der „Jurassic World“, das Fahrzeug in seinen ursprünglichen Zustand versetzte.</p>
        <p>Das heute als „Jurassic Jeep“ bezeichnete Fahrzeug gelangte im Mai 2021 durch einen glücklichen Zufall in meine Hände. Ich werde das Fahrzeug und seine Historie in Ehren halten und freue mich, die Geschichte dieses besonderen Jeep Wrangler an die nächsten Generationen weiterzugeben…</p>
        <p><small>Anmerkung: Natürlich ist der Inhalt dieser Seite zum größten Teil fiktiv. Aber wenn ihr die Augen schließt und die Geschichte wirken lässt, so <em>könnte</em> es doch genau so gewesen sein, oder? :)</small></p>
    </article>
{% endblock %}
