{% extends 'base.html.twig' %}

{% set title            = 'Ein 1993er Jeep Wrangler Sahara des „Jurassic Park“' %}
{% set description      = 'Der „Jurassic Jeep“ ist mein 1993er Jeep Wrangler Sahara, ein detailgetreuer Nachbau aus den Blockbustern „Jurassic Park“ und „Jurassic World“.' %}
{% set activeNavElement = '' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Willkommen im „Jurassic Park“</h1>
            <h2>Von der Leinwand auf deutsche Strassen</h2>
        </div>
        <p>„Jurassic Jeep“ erzählt die Geschichte meines 1993er Jeep Wrangler Sahara, der in eine originalgetreue Nachbildung aus den Blockbustern „Jurassic Park“ und „Jurassic World“ umgebaut wurde.</p>
        <p class="inset-left"><img src="/images/fahrzeug/jeep-wrangler-sahara-in-jurassic-park-optik-auf-der-wiese.jpg" alt="Frontansicht eines in „Jurassic Park“-Optik aufgebautem Jeep Wrangler Sahara" class="img-fluid img-thumbnail"></p>
        <p>Auf dieser Internetpräsenz möchte ich das Fahrzeug in allen Details vorstellen: Von den Grundlagen wie dem verwendeten Modell, über die Details wie z.B. Sitze und Felgen, bis hin zu dem optionalen Zubehör. Da die Recherche und Dokumentation etwas Zeit in Anspruch nimmt, sind zum jetzigen Zeitpunkt noch nicht alle Inhalte der Internetpräsenz fertiggestellt.</p>
        <p class="inset-right"><img src="/images/fahrzeug/heckansicht-eines-jeep-wrangler-sahara-in-jurassic-park-optik-auf-der-wiese.jpg" alt="Heckansicht eines in „Jurassic Park“-Optik aufgebautem Jeep Wrangler Sahara" class="img-fluid img-thumbnail"></p>
        <p>Dennoch habe ich mich entschieden, den aktuellen Stand von „Jurassic Jeep“ nach Abholung des Fahrzeugs bei seinem Vorbesitzer freizuschalten. Ich denke, es gibt bereits schon jetzt viel zu entdecken und ich freue mich auf dein Feedback!</p>
        <p class="inset-left"><img src="/images/fahrzeug/isla-nublar-kennzeichen-aus-jurassic-park-an-einem-jeep-wrangler.jpg" alt="Das Kennzeichen der „Isla Nublar“ auf einem in „Jurassic Park“-Optik aufgebautem Jeep Wrangler Sahara" class="img-fluid img-thumbnail"></p>
        <p>Ein besonderer Dank gilt Jörg, dem Vorbesitzer des Jeep Wrangler Sahara – für seine Hilfe und Geduld vor der Abholung und die hervorragende Arbeit bei der Umsetzung des „Jurassic Jeep“. Ebenso gilt mein Dank dem „Jurassic Park Motorpool“ und seinen Mitgliedern, dessen Informationen eine der elementaren Grundlagen dieser Internetpräsenz sind.</p>
        <p>Marcel Kraus<br/>
        <em>— im Mai 2021</em></p>
    </article>
{% endblock %}
