{% extends 'base.html.twig' %}

{% set title            = 'Mein „Jurassic Park“-Jeep aus Erftstadt bei Köln' %}
{% set description      = 'Mein „Jurassic Park“-Jeep ist ein 1993er Jeep Wrangler Sahara – ein detailgetreuer Nachbau aus den Blockbustern „Jurassic Park“ und „Jurassic World“.' %}
{% set activeNavElement = '' %}
{% set mood_image_src   = '/images/jeep-wrangler-im-naturparkzentrum-gymnicher-muehle-in-erftstadt.jpg' %}
{% set mood_image_alt   = 'Frontansicht eines „Jurassic Park“-Jeeps im Naturschutzgebiet Gymnicher Mühle in Erftstadt; im Hintergrund befindet sich ein Waldgebiet' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Das Leben, uh, findet einen Jeep!</h1>
            <h2>Von Isla Nublar direkt mit dir auf Tour</h2>
        </div>
        <p>Herzlich Willkommen auf <span class="brand">Jurassic Jeep</span>, Heimat meines „Jurassic Park“-Jeeps!</p>
        <p>Dieser 1993er Jeep Wrangler Sahara – natürlich in „Sand Beige“ – ist ein authentischer Nachbau eines der Filmfahrzeuge, die in „Jurassic Park“ (1993) und „Jurassic World“ (2015) zu sehen waren.</p>
        {% include 'partials/card.html.twig' with { alignment: 'left', url: '/images/fahrzeug/isla-nublar-kennzeichen-aus-jurassic-park-an-einem-jeep-wrangler.jpg', alt: 'Das Kennzeichen der Isla Nublar auf einem in „Jurassic Park“-Optik aufgebautem Jeep Wrangler Sahara', caption: 'Der Jeep trägt die fiktive Nummer 16 auf dem Kennzeichen der Isla Nublar.' } %}
        <p>Auf dieser Homepage stelle ich das Fahrzeug in allen Details vor. Von den Grundlagen wie dem verwendeten Modell, über die kleinen Details wie z.B. die Sitze und die Felgen, bis hin zu dem optionalen Zubehör.</p>
        <p>Wenn du den den Jeep einmal live erleben möchtest, gibt es verschiedene Möglichkeiten:</p>
        {% include 'partials/card.html.twig' with { alignment: 'right', url: '/images/fahrzeug/heckansicht-eines-jeep-wrangler-sahara-in-jurassic-park-optik-auf-der-wiese.jpg', alt: 'Heckansicht eines in „Jurassic Park“-Optik aufgebautem Jeep Wrangler Sahara', caption: 'Der Jeep ist ab sofort auch zu mieten, z.B. für exklusive Rundfahrten.' } %}
        <p>Das Fahrzeug wird regelmäßig auf Events, z.B. in Museen oder auf Conventions, ausgestellt und kann dort besichtigt und fotografiert werden. Aktuelle Termine findest du z.B. auf meiner Facebook-Seite.</p>
        <p>Möchtest du jedoch ein ganz exklusive Abenteuer erleben, so kannst du <a href="{{ path('leasing') }}">den Jeep auch mieten</a>.</p>
        <p>Buche den Jeep für eine spannende Rundfahrt, Hochzeiten oder Events aller Art. Ein Teil der Erlöse aus diesen Vermietungen wird übrigens für wohltätige Zwecke gespendet.</p>
        <p>Du bekommst nicht genug? Dann folge mir auf <a href="{{ social_facebook }}" title="Folge dem Jeep auf Facebook">Facebook</a>, <a href="{{ social_instagram }}" title="Folge dem Jeep auf Instagram">Instagram</a> und <a href="{{ social_youtube }}" title="Folge dem Jeep auf YouTube">YouTube</a>. Erhalte stets neue Bilder und Videos, aktuelle Nachrichten und exklusive Angebote. </p>
    </article>
{% endblock %}
