{% extends 'base.html.twig' %}

{% set title            = 'Jetzt mieten und den Jeep ganz exklusiv erleben' %}
{% set description      = 'Spezielle Mietangebote ermöglichen es, den „Jurassic Jeep“ ganz exklusiv zu erleben: Sei es auf einer privaten Tour oder für gewerbliche Zwecke.' %}
{% set mood_image_src   = '/images/isla-nublar-kennzeichen-des-jeep-wrangler-in-jurassic-park-optik.jpg' %}
{% set mood_image_alt   = 'Ein „Isla Nublar“-Kennzeichen aus dem Film „Jurassic Park“ auf einem Jeep Wrangler Sahara von 1993' %}

{% set activeNavElement = '' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Exklusive Mietangebote</h1>
            <h2>Den Jeep erleben und gutes tun</h2>
        </div>
        {% include 'partials/card.html.twig' with { alignment: 'left', url: '/images/fahrzeug/jurassic-park-logo-auf-der-tuere-eines-jeep-wrangler-sahara.jpg', alt: 'Das Logo des „Jurassic Park“ auf der Seitentüre eines Jeep Wrangler Sahara von 1993', caption: 'Diese Autotüre mit weltbekanntem Logo öffnen und mitfahren? Das ist auf Wunsch ab sofort möglich.' } %}
        <p>Sehr frei nach John Hammond zitiert möchte ich „<em>jedem auf der Welt das Recht geben, sich an diesem Fahrzeug zu erfreuen</em>“.</p>
        <p>Generell ist mein Jeep mehrmals pro Jahr auf Comic-Conventions und anderen Fan-Veranstaltungen vertreten. Hier bietet sich die meist kostenlose Gelegenheit, das Fahrzeug zu sehen, Fotos zu machen und (in den meisten Fällen) auch einmal selber Platz zu nehmen.</p>
        <p>Dennoch wurde ich schon oft angesprochen, ob man das Fahrzeug nicht auch mieten könnte. Aus diesem Grunde habe ich mir etwas überlegt und drei Pakete geschnürt, die sich an den Personenkreis richten, die den „Jurassic Jeep“ gerne <em>exklusiv</em> erleben möchten – oder Ihren Freunden und Bekannten ein besonderes Geschenk machen wollen.</p>
        <p>Bitte beachte, dass es in <u>keinem Falle</u> möglich ist, das Fahrzeug im öffentlichen Straßenverkehr selber zu fahren. Ausserdem wird in jedem Fall ein Guide dabei sein, der dir bei Fragen zur Verfügung steht.</p>
        <p>Wer den Jeep mietet, tut dabei auch etwas gutes:</p>
        <p>Einen Teil der Erlöse, die ich durch die Bereitstellung und Vermietung des „Jurassic Jeep“ erwirtschafte, spende ich am Ende jedes Kalenderjahres für wohltätige Zwecke. Ebenso stelle ich den Jeep für wohltätige bzw. ka­ri­ta­tive Einrichtungen und Veranstaltungen stark vergünstigt zur Verfügung.</p>
        <h3>Die drei Exklusivpakete</h3>
        <h4>Paket 1: Grand Tour</h2>
        {% include 'partials/card.html.twig' with { alignment: 'right', url: '/images/fahrzeug/barbasol-dose-neben-der-seilwinde-auf-einem-jeep-wrangler-sahara.jpg', alt: 'Eine Dose Rasierschaum im alten „Barbasol“-Design, wie sie im Film „Jurassic Park“ verwendet wurde.', caption: 'Mit an Bord: Die Dose „Rasierschaum“, die für das Schmuggeln der Dino-Embryos verwendet wurde.' } %}
        <p>Unser kleinstes und intimstes Paket richtet sich an die Fans des „Jurassic Park“, die einmal Platz im legendären Jeep Wrangler des Parks nehmen möchte. Nehme zusammen mit einer optionalen Begleitperson<sup>*</sup> an einer gemeinsamen Ausfahrt teil. Während der Fahrt erklärt euch euer Guide alle technischen Details des Jeeps und beantwortet eure Fragen. Bei einer Pause während der Ausfahrt erhaltet ihr darüber hinaus Gelegenheit, in aller Ruhe Fotos und Videos für euer privates Fotoalbum zu machen.</p>
        <h4>Paket 2: Just Married</h2>
        <p>Das erweiterte Paket für euren besonderen Tag, z.B. eure Hochzeit. Du und dein Lieblingsmensch nehmt Platz im Jeep Wrangler des „Jurassic Park“. Euer Guide fährt euch im passenden Outfit zum Standesamt, Kirche und/oder zum Ort der Feier. Dort angekommen steht euch und euren Gästen dann das Fahrzeug für bleibende Erinnerungen, Fotos und Videos zur Verfügung.</p>
        <h4>Paket 3: Big Business</h2>
        <p>Das große Paket auf Stundenbasis, speziell für gewerbliche Kunden. Du hast ein Kino, ein Einkaufszentrum oder einen (Urzeit-)Zoo und planst ein besonderes Event? Dann ist der „Jurassic Jeep“ genau das richtige – vor deinem Geschäft ist genau der richtige Ort für bleibende Erinnerungen mit deinen Kunden.</p>
        <div class="d-none d-lg-block">
            <h3>Die Exklusivpakete im Vergleich</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="row">&nbsp;</th>
                            <th scope="row">Grand Tour</th>
                            <th scope="row">Just Married</th>
                            <th scope="row">Big Business</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Zielgruppe</th>
                            <td>Privatpersonen</td>
                            <td>Privatpersonen</td>
                            <td>Gewerbekunden</td>
                        </tr>
                        <tr>
                            <th scope="row">Dauer</th>
                            <td>Ca. 2 Stunden</td>
                            <td>Nach Vereinbarung</td>
                            <td>Nach Vereinbarung</td>
                        </tr>
                        <tr>
                            <th scope="row">Ort</th>
                            <td>50374 Erftstadt</td>
                            <td>Nach Vereinbarung</td>
                            <td>Nach Vereinbarung</td>
                        </tr>
                        <tr>
                            <th scope="row">Inkl. Mitfahrt</th>
                            <td>Ja</td>
                            <td>Ja</td>
                            <td>Nein</td>
                        </tr>
                        <tr>
                            <th scope="row">Fahrkosten</th>
                            <td>Komplett enthalten</td>
                            <td>100 km frei, danach 0,35 €/km</td>
                            <td>100 km frei, danach 0,35 €/km</td>
                        </tr>
                        <tr>
                            <th scope="row">Passagiere</th>
                            <td>Max. zwei</td>
                            <td>Max. zwei</td>
                            <td>Entfällt</td>
                        </tr>
                        <tr>
                            <th scope="row">Preis</th>
                            <td>Auf Anfrage</td>
                            <td>Auf Anfrage</td>
                            <td>Auf Anfrage</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p><sup>*</sup> Die COVID-19-Hygieneregeln werden berücksichtigt, im Fahrzeug ist während der Fahrt unter Umständen ein Mund-Nasen-Schutz zu tragen. Die Abstandsregeln werden ausserhalb des Fahrzeugs streng beachtet. Alle Guides sind durchgeimpft und/oder werden unmittelbar vor dem vereinbarten Termin negativ auf COVID-19 getestet.</p>
        <h3>Jetzt unverbindlich anfragen</h3>
        <p>Du bist an einem der Exklusivpakete interessiert und möchtest gerne unverbindlich einen Termin und einen Preis anfragen? Dann nutze jetzt das Kontaktformular, um mit mir in in Kontakt zu treten.</p>
        <p class="cta-button">
            <a href="{{ path('contact') }}?ref=leasing">Kontaktformular öffnen</a>
        </p>
    </article>
{% endblock %}
