{% extends 'base.html.twig' %}

{% set title            = 'Jetzt mieten und den Jeep ganz exklusiv erleben' %}
{% set description      = '' %}
{% set activeNavElement = '' %}

{% block article %}
    <article>
        <h1>
            Exklusive Mietangebote
            <div class="divider"></div>
        </h1>
        <p>Sehr frei nach John Hammond zitiert möchte ich „<em>jedem auf der Welt das Recht geben, sich an diesem Fahrzeug zu erfreuen</em>“.</p>
        <p>Daher habe ich drei Exklusivpakete geschnürt, um den „Jurassic Jeep“ in kleinem Kreis zu erleben. Bitte beachte bitte, dass es in <u>keinem Falle</u> möglich ist, das Fahrzeug im öffentlichen Straßenverkehr selber zu fahren. Ausserdem wird in jedem Fall einer unserer Guides dabei sein, der euch bei Fragen zur Verfügung steht.</p>
        <h2 class="h4">Die drei Exklusivpakete</h2>
        <h3 class="h5">Meet & Greet</h2>
        <p>Unser kleinstes und intimstes Paket: Erlebe den „Jurassic Jeep“ aus nächster Nähe. Im privaten Kreis nimmst du und eine optionale Begleitperson an einer Ausfahrt teil. Während der Fahrt erklärt dir dein Guide alle technischen Details des Jeeps und beantwortet deine Fragen. Bei einer Pause während der Ausfahrt erhälst du die Gelegenheit zu einem ausgedehnten Fotoshooting. <sup>*</sup></p>
        <p><b>Dauer:</b> Ca. 2-3 Stunden</p>
        <h3 class="h5">Honeymoon</h2>
        <p>Das Paket für deinen besonderes Tag: Du heiratest deine Liebste oder deinen Liebsten und ihr beide seid die weltgrößten „Jurassic Park“-Fans? Dann lasse dich von deinem passend gekleideten Guide nicht nur zur Kirche oder zum Standesamt fahren, sondern auch zum Ort der Feier. Dort angekommen steht euch und euren Gästen dann das Fahrzeug für bleibende Erinnerungen zur Verfügung. <sup>*</sup></p>
        <p><b>Dauer:</b> Ca. 4-6 Stunden</p>
        <h3 class="h5">On Display</h2>
        <p>Das Paket für Geschäftsbetreiber: Du hast ein Kino, ein Einkaufszentrum oder einen Zoo und planst ein besonderes Event? Dann ist der „Jurassic Jeep“ genau das richtige – vor deinem Geschäft ist genau der richtige Ort für Fotos mit deinen Kunden. Neben einem Guide steht dir optional ein Fotograf zur Verfügung, der deine Kunden ins rechte Licht rückt. <sup>*</sup></p>
        <p><b>Dauer:</b> Nach Vereinbarung</p>
        <div class="d-none d-lg-block">
            <h2 class="h4">Die Exklusivpakete im Vergleich</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="row">&nbsp;</th>
                            <th scope="row">Meet & Greet</th>
                            <th scope="row">Honeymoon</th>
                            <th scope="row">On Display</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Zielgruppe</th>
                            <td>Privatpersonen</td>
                            <td>Privatpersonen</td>
                            <td>Firmen</td>
                        </tr>
                        <tr>
                            <th scope="row">Dauer</th>
                            <td>Ca. 2-3 h</td>
                            <td>Ca. 4-6 h</td>
                            <td>Nach Vereinbarung</td>
                        </tr>
                        <tr>
                            <th scope="row">Ort</th>
                            <td>50374 Erftstadt</td>
                            <td>Nach Vereinbarung</td>
                            <td>Nach Vereinbarung</td>
                        </tr>
                        <tr>
                            <th scope="row">Inkl. Ausfahrt</th>
                            <td>Ja</td>
                            <td>Ja</td>
                            <td>Nein</td>
                        </tr>
                        <tr>
                            <th scope="row">Fahrkosten</th>
                            <td>Im Preis enthalten</td>
                            <td>0,50 €/km<br/>(ab dem 51. km)</td>
                            <td>0,50 €/km<br/>(ab dem 51. km)</td>
                        </tr>
                        <tr>
                            <th scope="row">Teilnehmer</th>
                            <td>Maximal zwei Mitfahrer/innen</td>
                            <td>Maximal zwei Mitfahrer/innen</td>
                            <td>Ohne Begrenzung</td>
                        </tr>
                        <tr>
                            <th scope="row">Inkl. Fotograf</th>
                            <td>Nein</td>
                            <td>Nein</td>
                            <td>Optional</td>
                        </tr>
                        <tr>
                            <th scope="row">Preis</th>
                            <td>199,90 €</td>
                            <td>499,90 €</td>
                            <td>ab 100,- €/h</td>
                        </tr>
                    </tbody>
                    <caption>Alle Preise inkl. MwSt.</caption>
                </table>
            </div>
        </div>
        <p><sup>*</sup> Aufgrund der aktuellen Situtation gilt für alle Exklusivpakete: Die Corona-Hygieneregeln werden berücksichtigt, im Fahrzeug ist ein Mund-Nasen-Schutz zu tragen. Die Abstandsregeln werden, mit Ausnahme während der Autofahrt, streng beachtet. Alle Guides werden maximal 24 Stunden vor einem Termin auf Corona getestet, der Termin findet nur bei negativem Testergebnis statt. Aufgrund der Coronoa-Pandemie ist aktuell bis auf Weiteres keine Begleitperson möglich.</p>
        <h2 class="h4">Bonus: Die Fan Events</h2>
        <p>Generell ist mein Jeep auch mehrmals pro Jahr auf Comic-Conventions und anderen Fan-Veranstaltungen vertreten. Auch hier bietet sich die Gelegenheit, das Fahrzeug zu sehen und (in den meisten Fällen) kostenlose Fotos zu machen. Die Exklusivpakete oben richten sich an den Personenkreis, die den „Jurassic Jeep“ gerne <em>exklusiv</em> erleben möchten – oder Ihren Freunden und Bekannten ein besonderes Geschenk machen wollen.</p>
    </article>
{% endblock %}
