{% extends 'base.html.twig' %}

{% set title            = 'Jetzt mieten und das „Jurassic Park“-Feeling selbst erleben' %}
{% set description      = 'Von Isla Nublar direkt mit dir auf Tour. Mein „Jurassic Park“-Jeep kann auch gemietet werden – für Rundfahrten, Hochzeiten und Events aller Art.' %}
{% set activeNavElement = 'leasing' %}
{% set mood_image_src   = '/images/isla-nublar-kennzeichen-des-jeep-wrangler-in-jurassic-park-optik.jpg' %}
{% set mood_image_alt   = 'Ein Kennzeichen der fiktiven Insel „Isla Nublar“ aus dem Film-Franchise „Jurassic Park“ bzw. „Jurassic World“, montiert auf einem Jeep Wrangler Sahara' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Den Jeep mieten</h1>
            <h2>Das „Jurassic Park“-Feeling selbst erleben</h2>
        </div>
        {% include 'partials/card.html.twig' with { alignment: 'left', url: '/images/fahrzeug/jurassic-park-logo-auf-der-tuere-eines-jeep-wrangler-sahara.jpg', alt: 'Das Logo des „Jurassic Park“ auf der Seitentüre eines Jeep Wrangler Sahara von 1993', caption: 'Die Türe mit dem weltbekanntem Logo öffnen und mitfahren? Das ist jetzt möglich.' } %}
        <p>Sehr frei nach John Hammond zitiert möchte ich „<em>jedem auf der Welt das Recht geben, sich an diesem Fahrzeug zu erfreuen</em>“.</p>
        <p>Generell ist mein Jeep mehrmals pro Jahr auf Comic-Conventions und anderen Events vertreten. Hier bietet sich die meist kostenlose Gelegenheit, das Fahrzeug zu sehen, Fotos zu machen und (in den meisten Fällen) auch einmal selber Platz zu nehmen.</p>
        <p>Dennoch wurde ich mehrfach angesprochen, ob man das Fahrzeug nicht auch mieten könnte. Ja, man kann: Für Rundfahrten, Hochzeiten &amp; Events aller Art.</p>
        <p>Du möchtest das Feeling eines Besuchs im „Jurassic Park“? Dann lass ich von deinem Fahrer sicher von A nach B bringen. Deine Fragen zum Jeep, zu den Filmen und allen Hintergründen beantwortet er dir dabei gerne.</p>
        <p>Auch für stationäre Zwecke ist der Jeep zu mieten: Als Fotopoint auf deinem Event zieht dieser Eyecatcher garantiert alle Blicke auf sich – egal ob Hochzeit oder Tag der offenen Tür.</p>
        <h3>Auszug der Preisliste für die Saison 2022</h3>
        <h4>Angebote auf Stundenbasis</h4>
        <div class="table-responsive">
            <table class="table table-sm">
                <caption>Alle Preise verstehen sich inkl. 19 % Mehrwertsteuer. Ab einer Mietdauer von sieben Stunden gilt der Tagestarif. Individuelle Angebote (z.B. über mehrere Tage) sind auf Anfrage möglich.</caption>
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th class="text-end" scope="col">Privatkunden &amp; gemeinnützige Organisationen</th>
                        <th class="text-end" scope="col">Gewerbekunden</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong>„On Display“ (stehend)</strong><br/>
                            inkl. Ansprechpartner vor Ort
                        </td>
                        <td class="text-end">
                            69 € pro Stunde<br/>
                            449 € pro Tag
                        </td>
                        <td class="text-end">
                            Auf Anfrage
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>„Rolling (fahrend)</strong><br/>
                            inkl. Fahrer
                        </td>
                        <td class="text-end">
                            79 € pro Stunde<br/>
                            zzgl. Fahrkosten
                        </td>
                        <td class="text-end">
                            Auf Anfrage
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Fahrkosten</strong><br/>
                            Abrechnung nach km, An- und Abfahrt bis 50 km frei
                        </td>
                        <td class="text-end">
                            0,39 € pro km
                        </td>
                        <td class="text-end">
                            0,39 € pro km
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Begleitpersonen</strong><br/>
                            max. zwei Personen möglich
                        </td>
                        <td class="text-end">
                            kostenfrei
                        </td>
                        <td class="text-end">
                            kostenfrei
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4>Erlebnispakete</h4>
        <div class="table-responsive">
            <table class="table table-sm">
            <caption>Alle Preise verstehen sich inkl. 19 % Mehrwertsteuer. Die Erlebnispakete sind ausschließlich für Privatkunden zu buchen.</caption>
                <thead>
                    <tr>
                        <th scope="col">Paket</th>
                        <th scope="col">Umfang</th>
                        <th class="text-end" scope="col">Privatkunden</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>„The Grand Tour“</strong></td>
                        <td>
                            Geführte Tour („Rolling“) ab Erftstadt, Dauer ca. 1,5 Stunden<br>
                            45-60 Min. Fahrzeit, 30-45 Min. Zeit für Fotos und Fragen
                        </td>
                        <td class="text-end">
                            119 € pro Paket
                        </td>
                    </tr>
                    <tr>
                        <td><strong>„Just Married“</strong></td>
                        <td>
                            Max. einstündige Hochzeitsfahrt („Rolling“) und drei Stunden stehend („On Display“) als Foto-Point<br/>
                            Fahrkosten bis 100 km (inkl. An- und Abfahrt) frei
                        </td>
                        <td class="text-end">
                            299 € pro Paket
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3>Vollständige Preisliste im PDF-Format</h3>
        {% include 'partials/card.html.twig' with { alignment: 'right', url: '/images/fahrzeug/barbasol-dose-neben-der-seilwinde-auf-einem-jeep-wrangler-sahara.jpg', alt: 'Eine Dose Rasierschaum im alten „Barbasol“-Design, wie sie im Film „Jurassic Park“ verwendet wurde.', caption: 'Natürlich auch mit an Bord: Eine ganz spezielle Sorte Rasierschaum.' } %}
        <p>Diese Seite beinhaltet einen <em>Auszug</em> der Preisliste der Saison 2022.</p>
        <p>Eine vollständige Preisliste mit zusätzlichen Informationen kannst du <a href="{{ path('contact') }}?ref=price-list">über das Kontaktformular anfordern</a>.</p>
        <p>Bitte beachte insbesondere die COVID-19-Regelungen im Fahrzeug.</p>
        <h3>Jetzt unverbindlich anfragen</h3>
        <p>Du bist an einer Buchung interessiert und möchtest gerne unverbindlich einen Termin und Gesamtpreis anfragen? Ich freue mich!</p>
        <p>Dann nutze jetzt das Kontaktformular, um mit mir in in Kontakt zu treten, schreibe mir eine E-Mail (hallo (at) jurassicjeep.de) oder nutze die Kontaktmöglichkeiten der sozialen Netzwerke.</p>
        <p class="cta-button">
            <a href="{{ path('contact') }}?ref=leasing">Kontaktformular öffnen</a>
        </p>
    </article>
{% endblock %}
