{% extends 'base.html.twig' %}

{% set title            = 'Jetzt mieten und das „Jurassic Park“-Feeling selbst erleben' %}
{% set description      = 'Von Isla Nublar direkt mit dir auf Tour. Mein „Jurassic Park“-Jeep kann auch gemietet werden – für Rundfahrten, Hochzeiten und Events aller Art.' %}
{% set activeNavElement = 'leasing' %}
{% set mood_image_src   = '/images/isla-nublar-kennzeichen-auf-einem-jurassic-park-jeep.jpg' %}
{% set mood_image_alt   = 'Ein Kennzeichen der fiktiven Insel „Isla Nublar“ aus dem Film-Franchise „Jurassic Park“ bzw. „Jurassic World“, montiert auf einem Jeep Wrangler Sahara' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Den Jeep mieten</h1>
            <h2>Das „Jurassic Park“-Feeling selbst erleben</h2>
        </div>
        <p>Sehr frei nach John Hammond zitiert möchte ich „<em>jedem auf der Welt die Möglichkeit geben, sich an diesem Fahrzeug zu erfreuen</em>“.</p>
        {% include 'partials/card.html.twig' with { alignment: 'right', url: '/images/fahrzeug/jurassic-park-logo-auf-der-tuere-eines-jeep-wrangler-sahara.jpg', alt: 'Das Logo des „Jurassic Park“ auf der Seitentüre eines Jeep Wrangler Sahara von 1993', caption: 'Die Türe mit dem weltbekanntem Logo öffnen und mitfahren? Das ist jetzt möglich.' } %}
        <p>Generell ist mein Jeep mehrmals pro Jahr auf <a href="{{ path('events') }}">verschiedenen Events</a> vertreten. Hier bietet sich in den meisten Fällen die Gelegenheit, das Fahrzeug zu sehen und (im Rahmen eventueller Eintrittsgebühren) auch Fotos zu machen.</p>
        <p>Dennoch wurde ich mehrfach angesprochen, ob man das Fahrzeug nicht auch exklusiv mieten könnte. Dies ist möglich: Für Rundfahrten, Hochzeiten und Events aller Art.</p>
        <p>Du möchtest das Feeling eines Besuchs im „Jurassic Park“? Dann lass ich von deinem Fahrer – im passenden Outfit – sicher von A nach B bringen. Deine Fragen zum Jeep, zu den Filmen und allen Hintergründen beantwortet er dir dabei gerne.</p>
        <p>Auch für stationäre Zwecke ist der Jeep zu mieten: Als Fotopoint auf deinem Event zieht dieser Eyecatcher garantiert alle Blicke auf sich – egal ob Hochzeit, Geburtstagsfeier oder Tag der offenen Tür.</p>
        <h3>Preise der Saison 2024</h3>
        <p>Ab diesem Jahr werden keine vorab geschnürten Pakete mehr angeboten. Ich habe in Rücksprache mit Kundinnen und Kunden festgestellt, dass – insbesondere bei Hochzeiten – eine gewisse Flexibilität sehr wertvoll ist.</p>
        <p>Daher gilt ab sofort: Der Jeep wird ausschließlich auf Stundenbasis angeboten.</p>
        <p>Die Preise variieren, je nachdem ob das Fahrzeug fahrend („rolling“) oder stationär („On Display“) verwendet wird. Sobald das Fahrzeug bewegt wird (dazu zählt auch die An- und Abfahrt) fällt zusätzlich eine Fahrkostenpauschale an, die fair nach gefahrenen Kilometern berechnet wird.</p>
        <p>Eine vollständige Preisliste ist auf Anfrage gerne erhältlich.</p>
        <h3>Jetzt unverbindlich anfragen</h3>
        <p>Du bist am Jeep interessiert und möchtest gerne ein Angebot anfordern? Dann <a href="{{ path('contact') }}?ref=leasing">nutze gerne das Kontaktformular</a>, um mit mir in in Kontakt zu treten.</p>
        <p class="cta-button">
            <a href="{{ path('contact') }}?ref=leasing">Kontaktformular öffnen</a>
        </p>
    </article>
{% endblock %}
