{% extends 'base.html.twig' %}

{% set title            = 'Jetzt mieten und das „Jurassic Park“-Feeling selbst erleben' %}
{% set description      = 'Von Isla Nublar direkt mit dir auf Tour. Mein „Jurassic Park“-Jeep kann auch gemietet werden – für Rundfahrten, Hochzeiten und Events aller Art.' %}
{% set activeNavElement = 'leasing' %}
{% set mood_image_src   = '/images/isla-nublar-kennzeichen-auf-einem-jurassic-park-jeep.jpg' %}
{% set mood_image_alt   = 'Ein Kennzeichen der fiktiven Insel „Isla Nublar“ aus dem Film-Franchise „Jurassic Park“ bzw. „Jurassic World“, montiert auf einem Jeep Wrangler Sahara' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Den Jeep mieten</h1>
            <h2>Das „Jurassic Park“-Feeling selbst erleben</h2>
        </div>
        {% include 'partials/card.html.twig' with { alignment: 'left', url: '/images/fahrzeug/jurassic-park-logo-auf-der-tuere-eines-jeep-wrangler-sahara.jpg', alt: 'Das Logo des „Jurassic Park“ auf der Seitentüre eines Jeep Wrangler Sahara von 1993', caption: 'Die Türe mit dem weltbekanntem Logo öffnen und mitfahren? Das ist jetzt möglich.' } %}
        <p>Sehr frei nach John Hammond zitiert möchte ich „<em>jedem auf der Welt die Möglichkeit geben, sich an diesem Fahrzeug zu erfreuen</em>“.</p>
        <p>Generell ist mein Jeep mehrmals pro Jahr auf verschiedenen Events vertreten. Hier bietet sich in den meisten Fällen die Gelegenheit, das Fahrzeug zu sehen und Fotos zu machen.</p>
        <p>Dennoch wurde ich mehrfach angesprochen, ob man das Fahrzeug nicht auch mieten könnte. Ab sofort ist dies möglich: Für Rundfahrten, Hochzeiten &amp; Events aller Art.</p>
        <p>Du möchtest das Feeling eines Besuchs im „Jurassic Park“? Dann lass ich von deinem Fahrer sicher von A nach B bringen. Deine Fragen zum Jeep, zu den Filmen und allen Hintergründen beantwortet er dir dabei gerne.</p>
        <p>Auch für stationäre Zwecke ist der Jeep zu mieten: Als Fotopoint auf deinem Event zieht dieser Eyecatcher garantiert alle Blicke auf sich – egal ob Hochzeit oder Tag der offenen Tür.</p>
        <h3>Angebote der Saison 2022</h3>
        <table class="table">
            <caption>Eine vollständige Preisliste mit zusätzlichen Informationen kannst du bei Interesse über das <a href="{{ path('contact') }}?ref=price-list">über das Kontaktformular anfordern</a>.</caption>
            <thead>
                <tr>
                    <th scope="col">Angebot</th>
                    <th scope="col">Abrechnung</th>
                    <th scope="col">Leistungen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>On&nbsp;Display</strong></td>
                    <td>Nach&nbsp;Stunde</td>
                    <td>
                        Stehend, inkl. Absperrung<br/>
                        inkl. Ansprechpartner vor Ort<br/>
                        inkl. An-/Abfahrt bis 30 km<br/>
                        zzgl. weiterer An-/Abfahrtskosten
                    </td>
                </tr>
                <tr>
                    <td><strong>Rolling</strong></td>
                    <td>Nach&nbsp;Stunde</td>
                    <td>
                        Fahrend, für max. drei Passagiere<br/>
                        inkl. Fahrer<br/>
                        inkl. An-/Abfahrt bis 30 km<br/>
                        zzgl. weiterer An-/Abfahrtskosten sowie der reinen Fahrkosten
                    </td>
                </tr>
                <tr>
                    <td><strong>Grand&nbsp;Tour</strong></td>
                    <td>Paketpreis</td>
                    <td>
                    Geführte Tour ab 50374 Erftstadt<br/>
                    Dauer ca. 1,5 Stunden (45-60 min. reine Fahrzeit) für max. drei Passagiere</td>
                </tr>
                <tr>
                    <td><strong>Just&nbsp;Married</strong></td>
                    <td>Paketpreis</td>
                    <td>
                        Max. einstündige Hochzeitsfahrt für das Brautpaar und drei Stunden „On Display“ als Fotopoint<br/>
                        inkl. An-/Abfahrt und Fahrkosten bis 100 km<br/>
                    </td>
            </tbody>
        </table>
        <h3>Jetzt unverbindlich anfragen</h3>
        <p>Du bist am Jeep interessiert und möchtest gerne unverbindlich einen Termin oder ein individuelles Angebot anfragen? Ich freue mich!</p>
        <p>Nutze bitte das Kontaktformular, um mit mir in in Kontakt zu treten, schreibe mir eine E-Mail (hallo (at) jurassicjeep.de) oder nutze die Kontaktmöglichkeiten der sozialen Netzwerke.</p>
        <p class="cta-button">
            <a href="{{ path('contact') }}?ref=leasing">Kontaktformular öffnen</a>
        </p>
    </article>
{% endblock %}
