// Variables

$primary: #c01d0c; // Performance Red
$secondary: #a2a288; // Sand Beige
$secondary-100: tint-color($secondary, 80%);

$enable-negative-margins: true;

// Bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Styling

body {
  background-color: $secondary;

  #site-canvas {
    background-color: $white;
    background-image: linear-gradient(to bottom, $secondary, 33%, $white);
    background-size: 100% 25rem;
    background-repeat: no-repeat;
  }

  header {
    margin-bottom: 5rem;
    h3 {
      font-family: Oxygen, sans-serif;
      font-weight: 600;
    }
    .nav-link {
      color: $body-color;
      &:hover {
        color: $primary;
      }
      &:last-child {
        margin-left: 1rem;
        color: $primary;
        border: 0.1rem solid $primary;
        border-bottom-right-radius: 0.75rem;
        &:hover {
          color: $white;
          background-color: $primary;
        }
      }
    }
  }

  main {
    margin-bottom: 5rem;
    .heading {
      h1 {
        font-family: Oxygen, sans-serif;
        font-weight: 200;
        margin-bottom: 2.5rem;
        .spacer {
          padding-top: 0.25rem;
          margin-bottom: 2.5rem;
          border-bottom: 0.25rem solid $primary;
          width: 12.5rem;
        }
      }
    }
    .canvas {
      margin-left: 5rem;
      margin-right: 5rem;
      .card {
        width: 25rem;
        margin-bottom: 1rem;
        &-left {
          float: left;
          margin-left: -5rem;
          margin-right: 1rem;
        }
        &-right {
          float: right;
          margin-right: -5rem;
          margin-left: 1rem;
        }
      }
    }

    aside {
      margin-left: 1em;
      .sub-nav {
        margin-bottom: 2.5rem;
        h3 {
          font-family: Oxygen, sans-serif;
          color: $white;
          background-color: $secondary;
          padding: 0.5rem;
          border-bottom-right-radius: 1rem;
          border: 5px solid $secondary-100;
          margin-bottom: 0.5em !important;
          i {
            margin-right: 0.5rem;
          }
        }
        .nav-item {
          margin-bottom: 0.5em;
          .nav-link {
            color: $body-color;
            padding-left: 0.5rem;
            border-left: 5px solid $secondary-100;
            &:hover {
              color: $primary;
              border-color: $secondary;
            }
          }
          .active {
            border-color: $primary;
            &:hover {
              color: $body-color;
              border-color: $primary;
            }
          }
        }
      }
    }
  }

  footer {
    color: $white;
    font-size: 0.75rem;
    background-color: $secondary;
    border-top: 5px solid $secondary-100;
    padding: 1.25rem 0;
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $white;
      }
    }
  }
}
