// Variables

$primary: #c01d0c; // Performance Red
$secondary: #a2a288; // Sand Beige

$enable-rounded: false;
$enable-negative-margins: true;
$line-height-base: 1.75;
$line-height-sm: 1.25;
$line-height-lg: 2.25;

// Bootstrap

@import "../../public/node_modules/bootstrap/scss/bootstrap.scss";
@import "../../public/node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Styling

body {
    background-image: url("/images/jungle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Oxygen, sans-serif;
    font-weight: 500;
    #canvas {
        background: $white;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25));
        backdrop-filter: blur(0.25rem);
        -webkit-backdrop-filter: blur(0.25rem);
        margin: 0 auto;
        @include media-breakpoint-up(lg) {
            padding: 0 2.5rem;
        }
    }
}

header {
    @include media-breakpoint-up(lg) {
        margin-left: -2.5rem;
    }
    img {
        border-bottom: 0.25rem solid $secondary;
        @include media-breakpoint-up(lg) {
            border-bottom-right-radius: 2em;
            border-right: 0.25rem solid $secondary;
            border-bottom: 0.25rem solid $secondary;
            
        }
    }
}

aside {
    margin: 2.5rem 0;
    .sidebar-element {
        margin: 2.5rem 1.25rem;
        h3 {
            font-weight: 700;
            margin-bottom: 1.25rem;
        }
        .divider {
            margin-left: auto;
            margin-right: auto;
            margin-top: 2.5rem;
            height: 0.25rem;
            background-color: $secondary;
            width: 50%;
        }
        nav {
            .primary-menu {
                margin-left: -1.25rem;
                @include media-breakpoint-up(lg) {
                    margin-left: - 3.75rem;
                }
                &-element {
                    margin-bottom: 1.25rem;
                    a {
                        display: block;
                        color: $body-color;
                        background-color: rgba(255, 255, 255, 0.75);
                        backdrop-filter: blur(0.25rem);
                        -webkit-backdrop-filter: blur(0.25rem);
                        padding: 0.5rem;
                        padding-left: 1.25rem;
                        border-bottom-right-radius: 1rem;
                        text-decoration: none;
                        @include media-breakpoint-up(lg) {
                            padding-left: 3.75rem;
                        }
                        &:hover {
                            background-color: $secondary;
                            color: $white;
                        }
                    }
                    &-active {
                        a {
                            background-color: $secondary;
                            color: white;
                        }
                    }
                }
            }
            .secondary-menu {
                margin-bottom: 1.25rem;
                &-element {
                    a {
                        color: $body-color;
                        text-decoration: none;
                        padding-left: 0.5rem;
                        border-left: 0.25rem solid $secondary;
                        &:hover {
                            color: $body-color;
                            border-color: $primary;
                        }
                    }
                    &-active {
                        a {
                            border-color: $primary;
                            &:hover {
                                color: $body-color;
                                border-color: $primary;
                            }
                        }
                    }
                }
            }
        }
        .leasing {
            .call-to-action {
                margin-top: 1.25rem;
                margin-left: -1.25rem;
                @include media-breakpoint-up(lg) {
                    margin-left: -3.75rem;
                }
                p {
                    margin: 0;
                }
                a {
                    display: block;
                    background: $primary;
                    color: $white;
                    padding: 0.5rem;
                    padding-left: 1.25rem;
                    border-bottom-right-radius: 1rem;
                    text-decoration: none;
                    @include media-breakpoint-up(lg) {
                            padding-left: 3.75rem;
                    }
                    &:hover {
                        background-color: darken($color: $primary, $amount: 10);
                    }
                }
            }
        }
    }
}

main {
    article {
        background-color: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(0.25rem);
        -webkit-backdrop-filter: blur(0.25rem);
        border-bottom-right-radius: 2rem;
        padding: 2.5rem;
        @include media-breakpoint-up(lg) {
            border: 0.25rem solid $secondary;
            border-top: none;
            margin-left: 5rem;
            margin-right: 5rem;
        }
        *:last-child {
            margin: 0;
        }
        b {
            color: $primary;    
        }
        hr {
            color: $secondary;
            margin: 2.5rem;
        }
        sup {
            color: $primary;
            font-weight: bold;
        }
        h1 {
            font-weight: 300;
            text-align: center;
            margin-bottom: 2.5rem;
            .divider {
                width: 25%;
                background-color: $secondary;
                height: 0.25rem;
                margin-top: 2.5rem;
                margin-left: auto;
                margin-right: auto;
            }
        }
        h4 {
            margin-top: 2.5rem;
            margin-bottom: 1rem;
        }
        h5 {
            margin-top: 1.25rem;
            margin-bottom: 1rem;
        }
        .table-responsive {
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
        }
        th, td {
            // At the moment, only used on `leasing` page.
            width: 25%;
        }
        .card {
            background-color: $white;
            border-bottom-right-radius: 2rem;
            margin-bottom: 1.25rem;
            @include media-breakpoint-up(lg) {
                width: 15rem;
                &-left {
                    float: left;
                    margin-left: -7.75rem;
                    margin-right: 1.25rem;
                }
                &-right {
                    float: right;
                    margin-right: -7.75rem;
                    margin-left: 1.25rem;
                }
            }
        }
    }
    footer {
        color: $white;
        font-size: 75%;
        margin: 1.25rem 2.5rem;
        @include media-breakpoint-up(lg) {
            margin-left: 5rem;
            margin-right: 7rem;
        }
        nav {
            @include media-breakpoint-up(lg) {
                text-align: right;
            }
            a {
                color: $white;
                text-decoration: none;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}
