// Variables

$brand-primary: #c01d0c; // Performance Red
$brand-secondary: #a2a288; // Sand Beige

$enable-rounded: false;
$line-height-sm: 1.25;
$line-height-base: 1.75;
$line-height-lg: 2.25;

$h1-font-size: 2.5rem; // 40pt
$h2-font-size: 1.75rem; // 28pt
$h3-font-size: 1.5rem; // 24pt
$h4-font-size: 1.25rem; // 20pt

$paragraph-margin-bottom: 1.25rem;
$input-placeholder-color: #ced4da;

// Bootstrap

@import "../../public/node_modules/bootstrap/scss/bootstrap.scss";
@import "../../public/node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "google-fonts.scss";

// Styling

body {
    background-image: url("/images/jungle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Oxygen, sans-serif;
    font-weight: 300;
    #canvas {
        min-height: 100vh;
        background: $white;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
        backdrop-filter: blur(0.25rem);
        -webkit-backdrop-filter: blur(0.25rem);
        margin: 0 auto;
    }
}

header {
    .header-menu {
        img {
            margin: 1.25rem;
            height: 2.5rem;
        }
        .social {
            margin: 0 1.25rem 0 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 5.0rem;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $brand-secondary;
                color: $brand-secondary;
                font-size: 1.25rem;
                width: 2.5rem;
                height: 2.5rem;
                margin-left: 0.75rem;
                &:hover {
                    border-color: $brand-secondary;
                    background-color: $brand-secondary;
                    color: $white;
                }
            }
        }
    }
    .mood-image {
        img {
            border-top: 0.1rem solid $brand-secondary;
            border-bottom: 0.1rem solid $brand-secondary;
        }
    }
}

aside {
    .sidebar-element {
        margin: 2.5rem 2.5rem;
        .lead {
            color: $brand-primary;
            font-size: 1.5rem;
            margin-bottom: 1.25rem;
        }
        nav {
            ul {
                padding-left: 0;
                list-style: none;
                margin-left: -2.5rem; // Revert default margin for navigation buttons
            }
            .nav-primary {
                li {
                    margin-bottom: 1.25rem;
                    a {
                        display: block;
                        color: $body-color;
                        background: rgba(255, 255, 255, 0.75);
                        backdrop-filter: blur(0.25rem);
                        -webkit-backdrop-filter: blur(0.25rem);
                        padding: 0.5rem 0.5rem 0.5rem 2.5rem;
                        text-decoration: none;
                        border-top-right-radius: 1.25rem;
                        border-bottom-right-radius: 1.25rem;
                        &:hover, &.active {
                            color: $white;
                            background: $brand-primary;
                        }
                    }
                }
            }
            .nav-secondary {
                li {
                    margin-left: 1.75rem;
                    a {
                        color: $body-color;
                        text-decoration: none;
                        border-left: 0.25rem solid transparent;
                        padding-left: 0.5rem;
                        &:hover, &.active {
                            color: $body-color;
                            border-color: $brand-primary;
                        }
                    }
                }
            }
        }
        .cta {
            margin-top: 1.25rem;
            margin-left: -2.5rem;
            a {
                display: block;
                padding: 0.5rem;
                padding-left: 2.5rem;
                text-decoration: none;
                border-top-right-radius: 1.25rem;
                border-bottom-right-radius: 1.25rem;
            }
            &-primary {
                a {
                    color: $white;
                    background: $brand-primary;
                    &:hover {
                        color: $white;
                        background: darken($color: $brand-primary, $amount: 10);
                    }
                }
            }
            &-secondary {
                a {
                    color: $body-color;
                    background-color: rgba(255, 255, 255, 0.75);
                    backdrop-filter: blur(0.25rem);
                    -webkit-backdrop-filter: blur(0.25rem);
                    &:hover {
                        color: $white;
                        background: $brand-secondary;
                    }
                }
            }
        }
        .badges {
            .badge {
                margin: 0;
                padding-right: .5rem;
                :last-child {
                    padding: 0;
                }
                img {
                    width: 6.0rem;
                    height: 6.0rem;
                    border: 0;
                    @include media-breakpoint-up(lg) {
                        width: 3rem;
                        height: 3rem;
                    }
                    @include media-breakpoint-up(xl) {
                        width: 4rem;
                        height: 4rem;
                    }
                    @include media-breakpoint-up(xxl) {
                        width: 5rem;
                        height: 5rem;
                    }
                }
            }
        }
    }
}

main {
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    padding: 2.5rem;
    @include media-breakpoint-up(lg) {
        border-left: 0.1rem solid $brand-secondary;
    }
    article {
        a {
            color: $brand-primary;
            text-decoration: none;
        }
        .cta-button {
            text-align: center;
            margin-top: 2rem;
            a {
                background-color: $white;
                border: 1px solid $brand-primary;
                color: $brand-primary;
                padding: 1rem;
                &:active,
                &:hover {
                    background-color: $brand-primary;
                    color: $white;
                }
            }
        }
        h3, h4 {
            margin-bottom: $paragraph-margin-bottom;
        }
        p:last-child {
            margin: 0;
        }
        .brand {
            color: $brand-primary;
            font-variant: small-caps;
            font-weight: 700;
        }
        .heading {
            margin-bottom: 2.5rem;
            padding-bottom: 1.25rem;
            border-bottom: 0.1rem solid $brand-secondary;
            text-align: right;
            h1 {
                font-weight: 300;
            }
            h2 {
                color: $brand-secondary;
                font-weight: 300;
            }
        }
        form {
            input,
            textarea,
            button {
                margin-bottom: 1rem;
            }
            #contact_request_captcha {
                margin-bottom: 0.5rem;
            }
            .captcha_image {
                margin-bottom: 1rem;
                border: $input-border-width solid $input-border-color;
            }
        }
        .card {
            background-color: $white;
            border-color: $brand-secondary;
            width: 100%;
            margin-bottom: 1rem;
            @include media-breakpoint-up(md) {
                width: 30%;
            }
            &-left {
                float: left;
                margin-right: 1.25rem;
                clear: both;
            }
            &-right {
                float: right;
                margin-left: 1.25rem;
                clear: both;
            }
        }
    }
    footer {
        font-size: 75%;
        margin: 2.5rem 0;
        border-top: 0.1rem solid $brand-secondary;
        padding: 1.25rem 0;
        a, a:hover {
            color: $body-color;
            text-decoration: none;
        }
    }
}
