<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:300,500,700">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <title>{% block title %} Jurassic Jeep: Der überlebende Jeep Wrangler Sahara #16 des „Jurassic Park“{% endblock %}</title>
</head>

<body>
    <div class="container">
        <div id="canvas">
            <header>
                <img src="images/twins.jpg" class="img-fluid" />
            </header>
            <div class="row">
                <div class="col-lg-3">
                    <aside>
                        {% block navigation %}
                            {% include 'sidebar/navigation.html.twig' %}
                        {% endblock %}
                        {% block leasing %}
                            {% include 'sidebar/leasing.html.twig' %}
                        {% endblock %}
                        {% block social %}
                            {% include 'sidebar/social.html.twig' %}
                        {% endblock %}
                    </aside>
                </div>
                <div class="col-lg-9">
                    <main>
                        {% block article %}
                            <article>
                                ((Placeholder))
                            </article>
                        {% endblock %}
                        <footer>
                            <div class="row">
                                <div class="col-lg-7">
                                    &copy; 2021 Marcel Kraus, Erftstadt.
                                </div>
                                <div class="col-lg-5">
                                <nav>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="{{ path('imprint') }}">Impressum</a></li>
                                        <li class="list-inline-item"><a href="{{ path('privacy') }}">Datenschutz</a></li>
                                        <li class="list-inline-item"><a href="{{ path('terms-of-use') }}">AGB</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </footer>
                    </main>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
