{% extends 'base.html.twig' %}

{% set title            = 'Die Ausstattung meines „Jurassic Park“-Jeeps: Nebelscheinwerfer des „Sahara“-Modells' %}
{% set description      = 'Der Jeep Wrangler in der „Sahara“-Ausstattung wurde ab Werk mit runden Nebelscheinwerfern auf der vorderen Stoßstange ausgestattet.' %}
{% set activeNavElement = 'vehicle' %}
{% set activeSubElement = 'vehicle_fog_lights' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Nebelscheinwerfer</h1>
            <h2>Die Ausstattung meines Jeep</h2>
        </div>
        {% include 'partials/card.html.twig' with { alignment: 'left', url: '/images/fahrzeug/zwei-jeep-wrangler-vor-dem-umbau.jpg', alt: 'Zwei Jeep Wrangler, davon ein „Sahara“-Modell, vor dem Umbau in die Jeeps aus „Jurassic Park“', caption: 'Im direkten Vergleich direkt zu sehen: Die originalen Nebelscheinwerfer des „Sahara“-Modells.' } %}
        <p>56002784 ist das Zauberwort. Dies ist die Teilenummer für die sog. „OEM Factory Front Fog Lights“, die werksmäßig auf dem Jeep Wrangler Sahara montierten Nebelscheinwerfer.</p>
        <p>Die mit einem H3-Leuchtmittel, ca. 18 cm großen Nebelscheinwerfer werden relativ weit außen auf den originalen Stoßstangen befestigt und heute – wie die meisten Teile des „Sahara“-Modells – entsprechend selten.</p>
        {% include 'partials/card.html.twig' with { alignment: 'right', url: '/images/fahrzeug/nebelscheinwerfer-eines-jeep-wrangler-sahara-waehrend-der-fahrzeugmontage.jpg', alt: 'Originale Nebelscheinwerfer eines Jeep Wrangler Sahara, während dem Zusammenbau nach der Lackierung', caption: 'Nebelscheinwerfer, Seilwinde, Kennzeichen – nur so ist die Optik wie in „Jurassic Park“.' } %}
        <p>Schon lange bevor mir der Jeep zum Kauf angeboten wurde, hatte ich mich mit dem Kauf der einzelnen Teile beschäfigt. Noch heute liegt ein Satz in NOS-Qualität („New Old Stock“ = Eingelagerte Originalersatzteile) in meinem eBay-Warenkorb: $510, zzgl. Versand…</p>
        <p>Umso schöner, dass an meinem Fahrzeug die Nebelscheinwerfer werksmäßig bereits vorhanden und in einem sehr guten Zustand waren. So werden selbst die dunkelsten, nebeligsten Nächte im Dschungel der Isla Nublar zu einem Kinderspiel!</p>
    </article>
{% endblock %}
