{% extends 'base.html.twig' %}

{% set title            = 'Die Ausstattung meines „Jurassic Park“-Jeeps: Lackierung und Folierung' %}
{% set description      = 'Neben der für ein „Sahara“-Modell werksmäßigen Grundfarbe „Sand Beige“ wurden während der Lackierung auch Streifen in „Performance Red“ aufgebracht.' %}
{% set activeNavElement = 'vehicle' %}
{% set activeSubElement = 'vehicle_paintjob' %}
{% set mood_image_src   = '/images/jeep-wrangler-im-naturparkzentrum-gymnicher-muehle-in-erftstadt.jpg' %}
{% set mood_image_alt   = 'Frontansicht eines „Jurassic Park“-Jeeps im Naturschutzgebiet Gymnicher Mühle in Erftstadt; im Hintergrund befindet sich ein Waldgebiet' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Lackierung</h1>
            <h2>Die Ausstattung meines Jeep</h2>
        </div>
        {% include 'partials/card.html.twig' with { alignment: 'left', url: '/images/fahrzeug/jeep-wrangler-in-lackierkabine.jpg', alt: 'Zerlegter Jeep Wrangler Sahara bei der Lackierung in der Lackierkabine', caption: 'Der zerlegte und bereits angeschliffene Jeep Wrangler während der Lackierung.' } %}
        <p>Der Jeep Wrangler in „Jurassic Park“ ist in zwei Farben lackiert.</p>
        <p>Oft als „grau“ bezeichnet, ist die Grundfarbe in Wirklichkeit „Sand Beige“, eine der Originalfarben des „Sahara“-Modells von 1992 bis 1994. Die Besonderheit: Es handelt sich um einen matten Farbton, es kommt kein Klarlack zum Einsatz.</p>
        <p>Der genaue Farbton der Streifen ist nicht überliefert. Innerhalb der Community herscht aber Einigkeit darüber, dass der Farbton „Performance Red“ von Ford aus dem Jahr 1992 am nächsten an das herankommt, was im Film zu sehen war.</p>
        <p>Bei den „Sahara“-Modellen des Jahres 1992 in das „Sand Beige“ eine von nur zwei wählbaren Farben, die andere war „Sage Green“. Damit ergibt sich in der Theorie eine Chance von 50 %, die korrekte Farbe zu finden.</p>
        {% include 'partials/card.html.twig' with { alignment: 'right', url: '/images/fahrzeug/jeep-wrangler-beim-zusammenbau.jpg', alt: 'Ein „Jurassic Park“-Jeep während dem Zusammenbau', caption: 'Stück für Stück entsteht nach der Lackierung das fertige Fahrzeug.' } %}
        <p>In der Praxis wird es leider komplizierter: Erstens kam in den späteren Modelljahren noch eine dritte Farbe, „Hunter Green“ (diesmal mit Klarlack) dazu, zweitens sind die Lacke nach fast 30 Jahren fast ausnahmslos defekt.</p>
        <p>Mein Fahrzeug wurde ursprünglich in genau diesem „Hunter Green“ ausgeliefert. Im Jahre 2019 wurde die Lackierung professionell erneuert und heute „erstrahlt“ der Jeep im originalen „Sand Beige“ mit den bekannten, roten Applikationen.</p>
        <p>Übrigens sind alle Streifen und alle Nummern auflackiert; es handelt sich nicht um eine Folie. Das sorgt zwar für eine Menge Vorarbeit und stundenlanges Abkleben in der Lackierkabine, ist langfristig aber die bessere Wahl.</p>
    </article>
{% endblock %}
