{% extends 'base.html.twig' %}

{% set title            = 'Bis ins Detail: Die Verkleidungen des Jeep Wrangler Sahara' %}
{% set description      = 'Die Farbe von Armaturenbrett, Mittelkonsole und weiterer Verkleidungen ist stark vom Modelljahr des jeweiligen Jeep Wrangler Sahara abhängig.' %}
{% set activeNavElement = 'vehicle' %}
{% set activeSubElement = 'vehicle_panels' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Verkleidungen</h1>
            <h2>Die Ausstattung meines Jeep</h2>
        </div>
        <p>Nur bis 1994 wurde das graue/anthrazitfarbene Armaturenbrett verbaut, in den früheren und späteren Modellen wurden andere Farben verwendet, so waren alle 1995er „Sahara“-Modelle mit einem beigefarbenen Armaturenbrett ausgestattet.</p>
        <p>Ähnlich wie beim Armaturenbrett ist auch die Farbe der Mittelkonsole vom Modelljahr abhängig. Nur von 1992 bis 1994 hatten die Jeep Wranger Sahara die abschließbare Mittelkonsole in grün, passend zu den Sitzen.</p>
        <p>Apropos Sitze: Auch hier gibt es ein kleines Verkleidungsteil, das nur in den Jahren 1992 und 1993 die korrekte Farbe hatte: Grün.</p>
    </article>
{% endblock %}
