{% extends 'base.html.twig' %}

{% set title            = 'Die Ausstattung meines „Jurassic Park“-Jeeps: Felgen und Reifen' %}
{% set description      = 'Die roten Felgen mit den grobstolligen Geländereifen sind ein wichtiges Detail für einen authentischen Jeep aus „Jurassic Park“.' %}
{% set activeNavElement = 'vehicle' %}
{% set activeSubElement = 'vehicle_rims' %}
{% set mood_image_src   = '/images/jeep-wrangler-im-naturparkzentrum-gymnicher-muehle-in-erftstadt.jpg' %}
{% set mood_image_alt   = 'Frontansicht eines „Jurassic Park“-Jeeps im Naturschutzgebiet Gymnicher Mühle in Erftstadt; im Hintergrund befindet sich ein Waldgebiet' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Felgen und Reifen</h1>
            <h2>Die Ausstattung meines Jeep</h2>
        </div>
        {% include 'partials/card.html.twig' with { alignment: 'left', url: '/images/fahrzeug/jeep-wrangler-felgen-waehrend-lackierung.jpg', alt: 'Felgen eines Jeep Wrangler Sahara in „Jurassic Park“-Optik während der Lackierung', caption: 'Die Felgen wurden chemisch entlackt und professionell neu lackiert.' } %}
        <p>Die Felgen sind eines der wenigen Ausstattungsmerkmal des „Sahara“-Modells, dass es nicht in den Film geschafft hat.</p>
        <p>Statt der originalen Felgen des hochwertigen Modells wurden die Felgen eines „Laredo“-Modells verwendet. Generell sind die Felgen heute noch gut zu bekommen, die Preise steigen jedoch auch für diese Teile stetig an.</p>
        <p>Nicht vergessen darf man, dass man insgesamt fünf Felgen benötigt. Bei dem Reserverad, das am Heck des Fahrzeugs montiert wird, handelt es sich schließlich um ein vollwertiges Reserverad – dies erfordert natürlich auch die Aufarbeitung einer weiteren Felge.</p>
        <p>Es handelt sich um 5-Speichen-Felgen in einer Größe von 15-Zoll (Teilenummer 52003368), montiert sind ab Werk Reifen in der Dimension 215/75 R15.</p>
        {% include 'partials/card.html.twig' with { alignment: 'right', url: '/images/fahrzeug/montiertes-rad-eines-jeep-wrangler-mit-lackierter-felge.jpg', alt: 'Rot lackiertes Rad auf einem Jeep Wrangler Sahara in „Jurassic Park“-Optik', caption: 'Montiert auf dem Fahrzeug sind die Felgen ein regelrechter Hingucker.' } %}
        <p>Noch ein Wort zu den Reifen: Um 100 % authentisch zum Film zu sein, müssen Reifen der Marke „BFGoodrich Radial All-Terrains“ montiert sein. Diese Reifen werden jedoch schon viele Jahre nicht mehr produziert – alte Reifen sind ein Sicherheitsrisiko und damit ein „No-Go“.</p>
        <p>Auf meinem Jeep sind aus diesem Grund die Nachfolger der genannten Reifen montiert, die „BFGoodrich All-Terrains KO2“. Leider fehlt bei diesen Reifen die markantem weiße Beschriftung auf den Reifenflanken.</p> 
        <p>Die Felgen wurden chemisch entlackt, aufarbeitet und anschließend professionell in „Performance Red“ (Siehe <a href="{{ path('vehicle_paintjob') }}">Lackierung</a>) lackiert.</p>
    </article>
{% endblock %}
