{% extends 'base.html.twig' %}

{% set title            = 'Die Ausstattung meines „Jurassic Park“-Jeeps: Sitze und Teppiche' %}
{% set description      = 'Die grünen Sitze mit den beigen Applikationen sind aus „Jurassic Park“ wohlbekannt – doch auch die Teppiche des Jeep Wrangler Sahara aus dem Film waren grün.' %}
{% set activeNavElement = 'vehicle' %}
{% set activeSubElement = 'vehicle_seats' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Sitze und Teppiche</h1>
            <h2>Die Ausstattung meines Jeep</h2>
        </div>
        {% include 'partials/card.html.twig' with { alignment: 'left', url: '/images/fahrzeug/fahrersitz-und-beifahrersitz-eines-jeep-wrangler-sahara-mit-beigen-applikationen.jpg', alt: 'Grüner Fahrer- und Beifahrersitz eines Jeep Wrangler Sahara', caption: 'Fahrer- und Beifahrersitz sind in einem ebenso guten Zustand wie die Rücksitzbank.' } %}
        <p>Nicht nur Ellie Sattler stand darauf!</p>
        <p>Die grünen Sitze mit den beigen bzw. braunen Applikationen sind ein weiterer, elementarer Bestandteil einer authentischen Nachbildung. Es handelt sich bei den Sitzen um eines dieser Teile, die bei Verwendung eines Nicht-„Sahara“-Modells als Basis für den Umbau nur noch sehr schwer zu bekommen sind.</p>
        <p>Die Sitze wurden von 1992 bis 1995 in dieser Farbe verbaut und werden heute nicht mehr in neuem Zustand angeboten; auch Bezüge sind nicht erhältlich. Der Preis für Gebrauchtteile, die fast ausschließlich in den USA ab und an auftauchen, ist hoch – dazu kommen die Versandkosten.</p>
        <p>Ich hatte das große Glück, dass die Sitze meines Jeeps in hervorragendem Zustand sind, sowohl die Vordersitze, als auch die Rückbank. Meine Sitze wurden nur gereinigt und sind ansonsten zu 100 % original – und nach (fast) 30 Jahren immer noch in einem neuwertigen Zustand.</p>
        {% include 'partials/card.html.twig' with { alignment: 'right', url: '/images/fahrzeug/teppiche-eines-jeep-wrangler-sahara.jpg', alt: 'Teppiche eines Jeep Wrangler Sahara ohne Sitze und weitere Innenverkleidung', caption: 'Ohne Sitze und weitere Ausstattung ist gut zu sehen, wie viele einzelne Teppiche der Jeep verbaut hat.' } %}
        <p>Das zweite Ausstattungsmerkmal, das heutzutage kaum noch auf dem Gebrauchtmarkt zu bekommen ist, sind die Teppiche im Innenraum.</p>
        <p>Die Teppiche eines Jeep Wrangler sind nicht sonderlich fest verlegt oder verklebt – was den Ausbau nach einer Wasserdurchfahrt oder den nachträglichen Austausch einfach macht. Leider ist genau das bei vielen Fahrzeugen im Laufe der letzten drei Jahrzehnte passiert und der „schmuddelige“ Teppich wurde einfach erneuert.</p>
        <p>Bei meinem Jeep war mir das Glück wieder treu: Die Teppiche konnten nach einer intensiven Reinigung problemlos weiterverwendet werden. Auch heute noch sieht man den Teppichen ihr Alter nur an einigen, wenigen Stellen an und ich bin sehr zufrieden mit dem aktuellen Zustand.</p>
    </article>
    </article>
{% endblock %}
