{% extends 'base.html.twig' %}

{% set title            = 'Für jedes Wetter parat: Das Softtop des Jeep Wrangler Sahara' %}
{% set description      = 'Das beige Softtop des Jeep Wrangler Sahara sorgt zusammen mit den Halbtüren binnen weniger Minuten für pures Sommerfeeling.' %}
{% set activeNavElement = 'vehicle' %}
{% set activeSubElement = 'vehicle_softtop' %}

{% block article %}
    <article>
        <div class="heading">
            <h1>Softtop mit Halbtüren</h1>
            <h2>Die Ausstattung meines Jeep</h2>
        </div>
        {% include 'partials/card.html.twig' with { alignment: 'left', url: '/images/fahrzeug/gebrauchtes-softtop-eines-jeep-wrangler-sahara.jpg', alt: 'Gebrauchtes, beiges Softtop eines Jeep Wrangler Sahara', caption: 'Hier noch mit Volltüren: Das vor dem Umbau montierte, originale Softtop in trendigem beige.' } %}
        <p>Das „Sahara“-Modell wurde ausschließlich mit Softtop und Halbtüren aus Stahl ausgeliefert.</p>
        <p>Frischluftfanatiker kommen in kaum einem anderen Fahrzeug so sehr auf ihre Kosten wie in einem Jeep Wrangler: Beide Türen lassen sich entfernen und es darf, sofern Aussenspiegel montiert werden, auch auf öffentlichen Straßen ohne Türen gefahren werden.</p>
        <p>Das Softtop lässt sich komplett vom Fahrzeug abnehmen und die Windschutzscheibe lässt sich nach vorne klappen (dies ist im Gegensatz zu den Türen aber nicht mit der Straßenverkehrsordnung zu vereinbaren).</p>
        <p>Ähnliches gilt auch für die Fenster: Bis auf die Windschutzscheibe sind alle „Scheiben“ des Jeep aus Kunststoff. Die Fenster in den Halbtüren können entweder per Reissverschluss geöffnet oder aber komplett inkl. Rahmen entfernt werden.</p>
        {% include 'partials/card.html.twig' with { alignment: 'right', url: '/images/fahrzeug/ausgebaute-steckfenster-fuer-halbtueren-eines-jeep-wrangler.jpg', alt: 'Ausgebaute Steckfenster eines Jeep Wrangler Sahara mit Halbtüren', caption: 'Frischluft pur: Die Steckfenster der Halbtüren lassen sich binnen weniger Sekunden ausbauen.' } %}
        <p>Im Film kommen beide Varianten vor. Währen die meisten Fahrzeuge im Film kein Softtop montiert haben, erwartet Dennis Nedry während dem tropischen Sturm mit Jeep #12 unter einem Softtop sein Schicksal.</p>
        <p>Mein Softtop ist von der Firma Bestop und wurde während dem Umbau durch den Vorbesitzer Jörg komplett erneuert; dementsprechend ist der Zustand. Doch auch das originale Softtop, mit dem der Jeep Wrangler Sahara ausgeliefert wurde, ist heute noch im Einsatz: In Jeep #14, gefahren von Florian aus Friesoythe.</p>
    </article>
{% endblock %}
